Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Revert "chore: savepoint"
  package-lock.json
  src/theme/icons.tsx
Due: prettier --write, eslint

chore: savepoint
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  16/0b4941476379bcd1c6d370718f68647f1d7357
Due: none

feat: allow breadcrumbs to be truncated when more than 3 items exist
  src/components/Breadcrumbs/Breadcrumbs.mdx
  src/components/Breadcrumbs/Breadcrumbs.test.tsx
  src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

fix: breadcrumb test description
  src/components/Breadcrumbs/Breadcrumbs.test.tsx
Due: prettier --write, eslint

fix: small tweaks
  src/components/Breadcrumbs/Breadcrumbs.test.tsx
  src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

feat: update test
  src/components/Breadcrumbs/Breadcrumbs.test.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  fa/647c0063ddc47fe00fb74261c5b66cf433949b
Due: none

test: fixing IconButton tests
  src/components/IconButton/IconButton.mdx
Due: prettier --write

feat: enhance tooltip to accept a custom wrapper
  src/components/Tooltip/Tooltip.mdx
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

feat: pr changes
  src/components/Tooltip/Tooltip.mdx
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

feat: add tooltip tests
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/__snapshots__/Tooltip.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  8f/714cf628e0b0093dc5e73f18ecae028aef473a
Due: none

fix: fix the icon used for error alert variants
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  32/ab0d9448150cc9366211715c34629fd14497d5
Due: none

chore: bump lockfile version
  package-lock.json
Due: prettier --write

chore: ran again
  package-lock.json
Due: prettier --write

feat: enhance table for customizable row colors
  src/components/Table/Table.mdx
  src/components/Table/Table.tsx
  src/components/Table/TableHeaderCell.tsx
  src/components/Table/TableRow.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  0e/787f9d74aeed938d64e51544875e0bf1313b87
Due: none

feat: add watchlist icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  70/8399204ffa6d1cb73b00df7a3610a109d1ca1f
Due: none

feat: add some new icons to power a rich text editor
  src/theme/icons.tsx
Due: prettier --write, eslint

fix: switch to icons with padding to keep sizing consistent
  src/theme/icons.tsx
Due: prettier --write, eslint

chore: add viewBox to watchlist for amanda
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  80/c85962d46243bff361a66ab492962b27a0e384
Due: none

chore: passing a ref to Menu for Combobox & Multi
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

feat: update Menu css & allowing Dropdown spread
  src/components/utils/Menu/Menu.tsx
Due: prettier --write, eslint

chore: added examples for combo & multicombobox
  src/components/Combobox/Combobox.mdx
  src/components/MultiCombobox/MultiCombobox.mdx
Due: prettier --write

chore: minor update for warnings
  src/components/MultiCombobox/MultiCombobox.mdx
Due: prettier --write

chore: updated snapshots
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

remove asana_pat
  .github/workflows/asana.yml
Due: none

Test
  README.md
Due: prettier --write

chore: added overflow: auto for InputControl
  src/components/utils/Input/InputControl.tsx
Due: prettier --write, eslint

feat: added optional maxContainerHeight multicombo
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

chore: added example with maxContainerHeight
  src/components/MultiCombobox/MultiCombobox.mdx
Due: prettier --write

chore: removed unused variable
  src/components/utils/Menu/Menu.tsx
Due: prettier --write, eslint

chore: updated snapshots
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/utils/Input/__snapshots__/InputControl.test.tsx.snap
Due: none

Notes added by 'git notes add'
  37/ebc0b9609916d71719fcfdf770f3d5e62ed3f5
Due: none

Migrate workflow to GH actions
  .circleci/config.yml
  .github/workflows/main.yml
Due: none

test
  .gitignore
  README.md
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
