Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Notes added by 'git notes add'
  46/f4fc92f6189daf6404a346a37d8dfb4340ce33
Due: none

chore: wip styles
  src/components/Box/Box.tsx
Due: prettier --write, eslint

chore: wip remove styles
  src/components/Box/Box.tsx
Due: prettier --write, eslint

chore: wip add ref
  src/components/Box/Box.tsx
Due: prettier --write, eslint

chore: wip refs
  src/components/AbstractButton/AbstractButton.tsx
Due: prettier --write, eslint

chore: wip refs 3
  src/components/AbstractButton/AbstractButton.tsx
Due: prettier --write, eslint

fix: increase tooltip stack order
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

chore: bump reach to 0.15
  package-lock.json
  package.json
  src/components/Dropdown/DropdownItem.tsx
  src/components/Dropdown/DropdownLink.tsx
Due: prettier --write, eslint

chore: bump @reach/utils
  package.json
  src/components/Dropdown/DropdownButton.tsx
  src/components/Popover/PopoverContent.tsx
  src/components/Popover/PopoverTrigger.tsx
  src/components/Tabs/Tab.tsx
Due: prettier --write, eslint

fix: corrected package-lock
  package-lock.json
Due: prettier --write

chore: apply pr suggestions
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  d2/b40bde78b9f5a9e11f1cd346936c8e2eb389e0
Due: none

fix: corrected types for reach dropdown items
  src/components/Dropdown/DropdownButton.tsx
  src/components/Dropdown/DropdownItem.tsx
  src/components/Dropdown/DropdownLink.tsx
Due: prettier --write, eslint

fix: corrected Popover trigger
  src/components/Popover/PopoverTrigger.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  b9/9f2aab98f0d3c71905d017084aa2f49e05455f
Due: none

chore: attempt to correct typings
  src/components/Popover/PopoverTrigger.tsx
Due: prettier --write, eslint

fix: corrected types for Tab
  src/components/Tabs/Tab.tsx
Due: prettier --write, eslint

fix: upgrade @juggle/resize-observer from 3.3.0 to 3.3.1
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @types/styled-system from 5.1.10 to 5.1.11
  package-lock.json
  package.json
Due: prettier --write

feat: upgrade @types/react from 16.14.5 to 17.0.5
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8a/75e56c5600076994c482763c2de5640624ff95
Due: none

Notes added by 'git notes add'
  bc/906fcab1487ce33b648376042d1a8231bc1b88
Due: none

Notes added by 'git notes add'
  90/9410060aad6becb94ee06e340a13472178a0ef
Due: none

fix: upgrade @emotion/react from 11.1.5 to 11.4.0
  package-lock.json
  package.json
Due: prettier --write

fix: explicitly adding path-parse lib for a security fix
  package-lock.json
  package.json
Due: prettier --write

fix: bump path-parse
  package-lock.json
  package.json
Due: prettier --write

Revert "fix: explicitly adding path-parse lib for a security fix"
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  78/e63de0e2c5d94b05a6af06f64daead9ddedfae
Due: none

Notes added by 'git notes add'
  34/5602960c5a49e48c4cb23c56a48e9ed66c7e36
Due: none

fix: upgrade @types/lodash from 4.14.168 to 4.14.169
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  49/a3a4ea903ad513869bfef3d668b1fab686026e
Due: none

Revert "Merge pull request #237 from panther-labs/bump-path-parse"
  package-lock.json
  package.json
Due: prettier --write

fix: bumped package-lock directly
  package-lock.json
Due: prettier --write

Notes added by 'git notes add'
  4a/e4ece815770f3893b3d93b35b07edc748d3097
Due: none

feat: upgrade @types/react-dom from 16.9.12 to 17.0.5
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f5/b2aab17858903b358e9c58e1d5908f7ec5201c
Due: none

chore: update snaps
  src/components/DateInput/__snapshots__/Month.test.tsx.snap
Due: none

Notes added by 'git notes add'
  98/1d99463f7b42c143ba9ae176511ca2c94629eb
Due: none

fix: package.json & package-lock.json to reduce vulnerabilities
  package-lock.json
  package.json
Due: prettier --write

chore: handle change for csstype package
  src/theme/theme.ts
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
