Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

test: add snapshot test for spacing with `sx` on Flex
  src/components/Flex/Flex.test.tsx
  src/components/Flex/__snapshots__/Flex.test.tsx.snap
Due: prettier --write, eslint

fix: remove duplicate icons
  src/components/Icon/Icon.test.tsx
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  95/f4522467c489a1cbe801a2edf0d0034ec5fad5
Due: none

feat: add extra pounce icons
  src/components/Icon/Icon.mdx
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  53/98c952f0f397ce05aa1b1406ab0f005e1a38ea
Due: none

revert: stale change
  src/components/Button/Button.tsx
Due: prettier --write, eslint

chore: resolve master conflicts
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: prettier --write, eslint

feat(iconbutton): change default border style of `IconButton` to circle
  src/components/IconButton/IconButton.tsx
Due: prettier --write, eslint

revert: default `variantBorderStyle`
  src/components/IconButton/IconButton.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  43/a2d321f2f923eb1f8c31fdefe08d8f344ac828
Due: none

feat: add new `code-semi` icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  55/4e5b0c029a9a750839ed73b76a3a02d39950c6
Due: none

fix: removed maxWidth from Modal
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  b0/d8ed5a2ae746c827bc722e415d493c2b4336e9
Due: none

fix: add `minRows` & `maxRows` to forwarded props
  src/system/shouldForwardProp.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  26/2dc5cfacd70727d78d9f65ebfdfbb3652c0ed6
Due: none

fix: support for `minRows` & `maxRows` on TextArea
  src/system/shouldForwardProp.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  84/c9666f1366257a091ea0e8b76dd574e9bfab59
Due: none

fix: round date times in date range input
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

test: add tests for the date time rounding
  src/components/DateRangeInput/DateRangeInput.test.tsx
Due: prettier --write, eslint

fix(radio): make label optional
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  38/f2be71a5832a278652e226f8209f6528364360
Due: none

feat(icon): add schedule
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  57/31e12707ae9b9128a36ccb54bb04b73d19933d
Due: none

feat: add code icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  f3/0c61a3c1d0d25008403ba74b9a9520b6945782
Due: none

Notes added by 'git notes add'
  54/a0eec759ffb0e6b463e522d67d0055e5854c4f
Due: none

fix: fix a bug in TimePicker when using 12H format
  src/components/DateInput/TimePicker.tsx
Due: prettier --write, eslint

chore: avoid resetting time when changing date in DateInput
  src/components/DateInput/DateInput.tsx
Due: prettier --write, eslint

chore: remove prevDate from state
  src/components/DateInput/DateInput.tsx
Due: prettier --write, eslint

fix: round the selected date in DateInput
  src/components/DateInput/DateInput.tsx
Due: prettier --write, eslint

refactor: use tuples instead of arrays in date range props
  src/components/DateInput/DateInput.tsx
  src/components/DateInput/Day.tsx
  src/components/DateInput/Month.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

fix: fix DateRangePicker to not reset time when date is selected
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

test: update broken tests
  src/components/DateInput/Day.test.tsx
  src/components/DateInput/Day.tsx
  src/components/DateInput/Month.test.tsx
  src/components/DateInput/Month.tsx
  src/components/DateInput/__snapshots__/Month.test.tsx.snap
  src/components/DateRangeInput/DateRangeInput.test.tsx
Due: prettier --write, eslint

feat: add timezone support to date inputs
  src/components/DateInput/DateInput.tsx
  src/components/DateInput/Day.tsx
  src/components/DateInput/Month.tsx
  src/components/DateInput/TimePicker.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/Presets.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint

chore: add date inputs with utc timezone in pounce docs
  src/components/DateInput/DateInput.mdx
  src/components/DateRangeInput/DateRangeInput.mdx
Due: prettier --write

test: add tests for datepickers when using utc timezone
  src/components/DateInput/DateInput.test.tsx
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint

feat: add `add-circle` icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  c1/fe777873d2b1daaaed6ce8bf6c54e7cd00aff5
Due: none

feat(icon): add `detection` icon
  src/theme/icons.tsx
Due: prettier --write, eslint
