Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: update docs
  src/components/DateRangeInput/DateRangeInput.mdx
Due: prettier --write

fix: cleanup DoubleInput and DateRangeInput types
  src/components/DateInput/Month.tsx
  src/components/DateRangeInput/DoubleTextInput.tsx
Due: prettier --write, eslint

fix: make DateRangeInput work along with empty arrays
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/DoubleTextInput.tsx
Due: prettier --write, eslint

chore: enhance new DoubleTextInput specs
  src/components/DateRangeInput/DoubleTextInput.test.tsx
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
Due: prettier --write, eslint

chore: make value for DateRangeInput required
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

chore: fix and enhnace snapshot
  src/components/DateInput/Day.test.tsx
  src/components/DateInput/Month.test.tsx
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateInput/__snapshots__/Day.test.tsx.snap
  src/components/DateInput/__snapshots__/Month.test.tsx.snap
Due: prettier --write, eslint

chore: remove redundant wrapper
  src/components/DateRangeInput/Presets.tsx
Due: prettier --write, eslint

fix: add date picker labels and proper testing
  src/components/DateInput/TimePicker.tsx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/Presets.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

chore: update date format testing
  src/components/DateRangeInput/DateRangeInput.test.tsx
Due: prettier --write, eslint

fix: make sure collapse animation doesn't hinder clicking
  src/components/Collapse/Collapse.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  d4/788afe188cebf76dc5e784a1812d5e30b553fa
Due: none

Notes added by 'git notes add'
  28/1659da782705cc92e8db1492eeaa9738abedd1
Due: none

chore: add 24hour mode for timepicker component
  src/components/DateInput/TimePicker.tsx
Due: prettier --write, eslint

chore: add combobox test selectors
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

fix: id parsing and data-test attributes
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

chore: update docs and specs
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.test.tsx
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

feat: glue DateRangeInput and DateInput with 24h mode
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

fix: add 24h as default for date components and fix specs
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.test.tsx
  src/components/DateInput/DateInput.tsx
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

feat: add label as timepicker identifier
  .vscode/settings.json
  src/components/DateInput/TimePicker.tsx
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  d4/6aa652f2de2009c04d5836d49833bb832cf239
Due: none

fix: export `DateRangeInput`
  src/index.tsx
Due: prettier --write, eslint

chore: update snapshots
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: none

Notes added by 'git notes add'
  d4/b813f3ab34c3ee79c99577cc3f45de7ff2ad81
Due: none

fix: daysjs parsing dates for DateRangeInput
  src/components/DateInput/Day.tsx
  src/components/DateInput/Month.tsx
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/Presets.tsx
Due: prettier --write, eslint

chore: extend DateRangeInput tests with empty value checking
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  3d/772c74b99e9751cd95521b2205869095826e27
Due: none

fix: hide content overflow during `Collapse` animation
  src/components/Collapse/Collapse.tsx
Due: prettier --write, eslint

test: update broken snaps
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: none

wip
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.tsx
  src/components/DateInput/DateWrapper.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/DoubleTextInput.tsx
  src/components/DoubleTextInput/index.tsx
  src/components/utils/Input/InputControl.tsx
  src/theme/theme.ts
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

feat: add refresh icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  c3/31945de1db2eb7572b952f7dcc3a78740a82ae
Due: none

fix: add bulk-upload and source-code icons
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  c4/98e9730b7bfeb0d8b275ad2f4164b50e1c87cc
Due: none

fix: styles for small size Button
  src/components/Button/useButtonStyles.tsx
Due: prettier --write, eslint

test: update snapshots
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: none

Notes added by 'git notes add'
  bb/5c579bb04addc193753269addaa28e794fac1b
Due: none

fix: issue with `selected` row on Table
  src/components/Table/TableRow.tsx
Due: prettier --write, eslint

feat: allow custom typing extension to support custom icons
  src/components/Icon/Icon.tsx
  src/theme/theme.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  56/5b13f7f6674ab34d1c3d056ca611a82264eabe
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
