Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

feat: add icon support for TextInput component
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/TextInput/TextInput.mdx
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: prettier --write, eslint

fix: import order and minor changes
  src/components/Badge/Badge.tsx
  src/components/Flex/Flex.tsx
  src/components/Heading/Heading.tsx
  src/components/Icon/Icon.tsx
  src/components/Img/Img.tsx
  src/components/Link/Link.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/NumberInput/NumberInput.tsx
  src/components/SimpleGrid/SimpleGrid.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Table/Table.tsx
  src/components/Table/TableCell.tsx
  src/components/Table/TableSortableHeaderCell.tsx
  src/components/Tabs/Tab.tsx
  src/components/Tabs/TabList.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextInput/TextInput.tsx
  src/components/utils/Input/InputElement.tsx
  src/components/utils/Input/InputLabel.tsx
  src/system/index.tsx
Due: prettier --write, eslint

fix: import order and minor changes
  .eslintrc.js
  package-lock.json
  package.json
  src/components/Box/index.tsx
  src/components/Dropdown/DropdownItem.tsx
  src/components/Dropdown/DropdownLink.tsx
  src/components/Heading/Heading.tsx
  src/components/Icon/Icon.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/TextArea/TextArea.mdx
  src/components/TextInput/TextInput.mdx
  src/components/utils/MenuItem/MenuItem.tsx
  src/system/utils.ts
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

fix: annotate keyframes
  src/components/FadeIn/utils.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  71/89741f3e2e92c3eea3a5759de95e1b9265725b
Due: none

fix: issues with typings
  src/components/AbstractButton/AbstractButton.tsx
  src/components/Link/Link.tsx
  src/system/utils.ts
Due: prettier --write, eslint

chore: extend ButtonProps to assign styled system values
  src/components/Button/Button.tsx
Due: prettier --write, eslint

refactor: simplify
  src/components/Box/Box.tsx
  src/components/Heading/Heading.tsx
  src/components/Icon/Icon.tsx
  src/components/Link/Link.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/Spinner/Spinner.tsx
  src/components/Text/Text.tsx
  src/system/index.tsx
  src/system/system.ts
  src/system/utils.ts
Due: prettier --write, eslint

feat: bump reach ui to latest
  package-lock.json
  package.json
  src/components/Dropdown/DropdownItem.tsx
  src/components/Dropdown/DropdownLink.tsx
Due: prettier --write, eslint

fix: add missing `disabled` prop
  src/components/Dropdown/DropdownItem.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  3d/facaeff1a0cbdb99ea5e7b70efdb10c3314f93
Due: none

refactor: cleanup code & introduce `sx` prop
  babel.config.js
  package-lock.json
  package.json
  src/components/Box/Box.tsx
  src/components/Box/system.ts
  src/components/Flex/utils.tsx
  src/components/PseudoBox/PseudoBox.tsx
  src/components/Table/TableRow.tsx
Due: prettier --write, eslint

refactor: rename type
  src/components/Box/system.ts
Due: prettier --write, eslint

test: update snapshots
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Box/__snapshots__/Box.test.tsx.snap
  src/components/Flex/__snapshots__/Flex.test.tsx.snap
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: none

refactor: cleanup & file migrations
  src/components/Box/Box.tsx
  src/components/Box/index.tsx
  src/components/PseudoBox/PseudoBox.tsx
  src/system/index.ts
  src/system/shouldForwardProp.ts
  src/system/system.ts
  src/system/utils.ts
Due: prettier --write, eslint

feat: add pseudo selectors to Box
  src/components/Box/Box.tsx
  src/system/index.ts
  src/system/pseudo.ts
  src/system/shouldForwardProp.ts
  src/system/system.ts
  src/system/utility.ts
Due: prettier --write, eslint

fix: issue with pseudo selector CSS rules
  src/system/pseudo.ts
Due: prettier --write, eslint

refactor: remove `PseudoBox` and allow all pseudo props on `Box`
  src/components/AbstractButton/AbstractButton.tsx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/useCheckboxStyles.tsx
  src/components/Link/Link.tsx
  src/components/Link/useLinkStyles.tsx
  src/components/PseudoBox/PseudoBox.mdx
  src/components/PseudoBox/PseudoBox.tsx
  src/components/PseudoBox/index.tsx
  src/components/Radio/Radio.tsx
  src/components/Radio/useRadioStyles.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/TableSortableHeaderCell.tsx
  src/components/utils/Input/InputControl.tsx
  src/components/utils/Input/InputElement.tsx
  src/components/utils/MenuItem/MenuItem.tsx
  src/index.tsx
  src/system/pseudo.ts
Due: prettier --write, eslint

test: update snapshots
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Flex/__snapshots__/Flex.test.tsx.snap
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: none

feat: allow input controls without labels in place
  src/components/Combobox/Combobox.tsx
  src/components/utils/Input/InputElement.tsx
Due: prettier --write, eslint

chore: update combobox docs
  src/components/Combobox/Combobox.mdx
Due: prettier --write

chore: update the hidden label API for semantic reasons
  src/components/Combobox/Combobox.mdx
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/Input/InputLabel.tsx
  src/components/utils/Menu/Menu.tsx
Due: prettier --write, eslint

feat: allow MultiCombobox with hidden label
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

chore: update snapshots for TextInput
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: none

fix: change hide label API props
  src/components/Combobox/Combobox.mdx
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

feat: remove intermediate components, making some primitives lighter
  src/components/AbstractButton/AbstractButton.tsx
  src/components/AbstractButton/index.tsx
  src/components/AbstractButton/utils.ts
  src/components/Badge/Badge.tsx
  src/components/Box/Box.tsx
  src/components/Button/Button.tsx
  src/components/Flex/Flex.tsx
  src/components/FormError/FormError.tsx
  src/components/FormHelperText/FormHelperText.tsx
  src/components/IconButton/IconButton.tsx
  src/components/Text/Text.mdx
  src/components/Text/Text.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  1b/3bea88f6e4fbb2503367e4adfad3a2ac70c575
Due: none

fix: add missing explicit typings
  src/components/Divider/Divider.tsx
  src/components/MultiCombobox/Tag.tsx
Due: prettier --write, eslint

test: update Badge snapshots
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: none

chore: remove the redundant Overlay component
  src/components/DateInput/OverlayComponent.tsx
Due: prettier --write, eslint

chore: Remove stale react-day component and add lodash
  package-lock.json
  package.json
Due: prettier --write

feat: introduce the bits and pieces of the DateInput component
  src/components/DateInput/Day.tsx
  src/components/DateInput/Month.tsx
  src/components/DateInput/TimePicker.tsx
Due: prettier --write, eslint

Revert "fix: add missing explicit typings"
  src/components/Divider/Divider.tsx
  src/components/MultiCombobox/Tag.tsx
Due: prettier --write, eslint

refactor: make AbstractButton lighter. Revert button changes
  src/components/AbstractButton/AbstractButton.tsx
  src/components/AbstractButton/index.tsx
  src/components/Button/Button.tsx
  src/components/IconButton/IconButton.tsx
Due: prettier --write, eslint

chore: add comment
  src/components/AbstractButton/AbstractButton.tsx
Due: prettier --write, eslint

chore: add proper testing for DateInput component
  src/components/DateInput/DateInput.test.tsx
  src/components/DateInput/Day.test.tsx
  src/components/DateInput/Month.test.tsx
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateInput/__snapshots__/Day.test.tsx.snap
  src/components/DateInput/__snapshots__/Month.test.tsx.snap
Due: prettier --write, eslint

feat: create the master DateInput component along with it's docs
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.tsx
Due: prettier --write, eslint

fix: add hideLabel prop for TimePicker
  src/components/DateInput/TimePicker.tsx
Due: prettier --write, eslint

feat: `visuallyHidden` prop
  src/components/Box/Box.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/utils/Input/InputElement.tsx
  src/components/utils/Input/InputLabel.tsx
  src/system/utility.ts
Due: prettier --write, eslint
