Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: οmit inherited `color` from BadgeProp
  src/components/BaseBadge/BaseBadge.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  149ec101dfae64ecb7cc9651e577eaf8857dd0c3
Due: none

fix: add missing Theme export
  src/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  35238480a6137a53ed10fbcbe9347b5fe59b0580
Due: none

fix: add export for theme and Theme
  src/index.tsx
  src/theme/index.ts
  src/utils/ThemeProvider.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  b3a6f60aa8029c45115d1a0f6371974198914c07
Due: none

fix: fix issue with exports
  src/theme/index.ts
  src/theme/theme.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  53632c375daed68c0a5db02244a958f4f5ebbc59
Due: none

feat: rename Box's `is` to `as`
  src/components/Alert/Alert.tsx
  src/components/BaseBadge/BaseBadge.tsx
  src/components/BaseButton/BaseButton.tsx
  src/components/BaseText/BaseText.tsx
  src/components/BaseText/index.tsx
  src/components/Box/Box.tsx
  src/components/Box/system.ts
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Button/Button.mdx
  src/components/Combobox/Combobox.tsx
  src/components/Icon/Icon.tsx
  src/components/Modal/Modal.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/SideSheet/SideSheet.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/Table.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Text/Text.mdx
  src/components/Tooltip/Tooltip.mdx
  src/utils/RefForwardingBox.tsx
Due: prettier --write, eslint

feat: refactor Card component to allow direct refs
  src/components/Card/Card.tsx
Due: prettier --write, eslint

feat: refactor Flex & add alias props
  src/components/Flex/Flex.tsx
Due: prettier --write, eslint

feat: refactor Label & Heading to allow forwarding refs
  src/components/Heading/Heading.tsx
  src/components/Label/Label.tsx
Due: prettier --write, eslint

feat: add `truncated` prop to `Text`
  src/components/Text/Text.tsx
Due: prettier --write, eslint

fix: use ReachMenuList in Card component
  src/components/Dropdown/Dropdown.tsx
Due: prettier --write, eslint

refactor(flex): minor refactor in prop passing
  src/components/Flex/Flex.tsx
Due: prettier --write, eslint

refactor(grid): use new implementation
  src/components/Grid/Grid.tsx
Due: prettier --write, eslint

feat: add SimpleGrid
  src/components/SimpleGrid/SimpleGrid.mdx
  src/components/SimpleGrid/SimpleGrid.tsx
  src/components/SimpleGrid/index.tsx
  src/components/SimpleGrid/utils.ts
  src/index.tsx
Due: prettier --write, eslint

fix: simplegrid exapmle
  src/components/SimpleGrid/SimpleGrid.mdx
Due: prettier --write

feat: add new component `PseudoBox
  package-lock.json
  package.json
  src/components/Box/index.tsx
  src/components/Box/system.ts
  src/components/PseudoBox/PseudoBox.mdx
  src/components/PseudoBox/PseudoBox.tsx
  src/components/PseudoBox/index.tsx
  src/index.tsx
Due: prettier --write, eslint

feat: add Link component
  src/components/Link/Link.mdx
  src/components/Link/Link.tsx
  src/components/Link/index.tsx
  src/index.tsx
Due: prettier --write, eslint

refactor: move `truncated` prop directly to `Box`
  src/components/Box/Box.tsx
  src/components/Text/Text.tsx
Due: prettier --write, eslint

feat: add AbstractButton
  src/components/AbstractButton/AbstractButton.tsx
  src/components/AbstractButton/index.tsx
  src/components/BaseButton/BaseButton.tsx
  src/components/BaseButton/index.tsx
  src/components/BaseInputElement/BaseInputElement.tsx
  src/components/Button/Button.tsx
  src/components/Button/utils.ts
  src/components/Dropdown/Dropdown.mdx
  src/components/IconButton/IconButton.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/Table.tsx
  src/components/Tabs/Tabs.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextInput/TextInput.tsx
  src/index.tsx
  src/theme/colors.ts
Due: prettier --write, eslint

fix: issue in Table docs
  src/components/Table/Table.mdx
Due: prettier --write

refactor: comp Checkbox and Radio don't use styled.XXX
  src/components/Checkbox/Checkbox.tsx
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

fix: typo in transition string
  src/components/AbstractButton/AbstractButton.tsx
Due: prettier --write, eslint

refactor: use AbstractButton in Tabs
  src/components/Tabs/Tabs.tsx
Due: prettier --write, eslint

refactor: add AbstractButton to MenuItem
  src/components/AbstractButton/AbstractButton.tsx
  src/components/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write

refactor: add type to repository
  package.json
Due: prettier --write

Notes added by 'git notes add'
  88e14dc25f0408eb55084d2452dff6d123d673c4
Due: none

fix: hover bg for Button
  src/components/Button/utils.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  bdae6a0e658035f1d08ba5e048c72da393f72e45
Due: none

fix: add missing export `LinkProps`
  src/components/Link/Link.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  514e9f4d52786e541234e5f21a203c09c7abb7b2
Due: none

docs: update installation command
  README.md
Due: prettier --write

feat: new Table components
  src/components/Box/Box.tsx
  src/components/Box/system.ts
  src/components/Table/OldTable.tsx
  src/components/Table/Table.mdx
  src/components/Table/Table.tsx
  src/components/Table/TableBody.tsx
  src/components/Table/TableCell.tsx
  src/components/Table/TableHead.tsx
  src/components/Table/TableHeaderCell.tsx
  src/components/Table/TableRow.tsx
  src/components/Table/index.tsx
Due: prettier --write, eslint

fix: remove inherited textAlign from AbstractButton
  src/components/AbstractButton/AbstractButton.tsx
  src/components/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
