Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

chore: split CustomIcons declaration into separate file
  src/theme/customIcons.ts
  src/theme/theme.ts
Due: prettier --write, eslint

fix: convert CustomIcons type to interface
  src/theme/customIcons.ts
  src/theme/theme.ts
Due: prettier --write, eslint

docs: add section for icon overrides
  README.md
Due: prettier --write

test: update snaps
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: none

Notes added by 'git notes add'
  72/3cf7a6a0419866906664065c27e73471b88262
Due: none

feat: add subtract icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  19/9cd38e83f90519712e227b62d5e0aef9a2f0b1
Due: none

chore: fix global date mocks for time related specs
  package-lock.json
  package.json
  src/components/DateInput/DateInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.test.tsx
Due: prettier --write, eslint

fix: remove doubleinput
  .gitignore
  package-lock.json
  package.json
  src/components/DateInput/DateWrapper.tsx
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DoubleTextInput.tsx
  src/components/DoubleTextInput/index.tsx
Due: prettier --write, eslint

fix: add shadow for daterange inputs and proper placement
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.tsx
  src/components/DateInput/DateWrapper.tsx
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/DoubleTextInput.tsx
  src/theme/theme.ts
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

chore: add reach/dropzone
  package-lock.json
  package.json
Due: prettier --write

chore: update .gitignore
  .gitignore
Due: none

chore: bump date picker snapshots
  src/components/DateInput/DateInput.test.tsx
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
Due: prettier --write, eslint

fix: change `X` icon to `!` on the alert "error"
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  73/7779524b5a0472c36c11410c7f072aff1468a6
Due: none

Notes added by 'git notes add'
  c3/899208e26b38153d830be513ee61da1b5b7ddf
Due: none

feat: add solid variant for text input and textarea components
  src/components/TextArea/TextArea.mdx
  src/components/TextArea/TextArea.test.tsx
  src/components/TextArea/TextArea.tsx
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/components/TextInput/TextInput.mdx
  src/components/TextInput/TextInput.tsx
  src/components/utils/Input/InputControl.test.tsx
  src/components/utils/Input/InputControl.tsx
  src/components/utils/Input/__snapshots__/InputControl.test.tsx.snap
Due: prettier --write, eslint

feat: add icon alignment
  src/components/TextInput/TextInput.mdx
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: prettier --write, eslint

chore: add solid variant dor Date components
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.test.tsx
  src/components/DateInput/DateInput.tsx
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/DoubleTextInput.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

chore: align padding and border colors for text input
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/utils/Input/InputControl.tsx
Due: prettier --write, eslint

fix: add padding for text input components
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/utils/Input/InputLabel.tsx
Due: prettier --write, eslint

chore: fix alignment and snapshots after rebase
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DoubleTextInput.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  7e/aea1798240a48fc29a5b8c8fbf5382c2f5ee78
Due: none

chore: added navyblue-350 color
  src/theme/colors.ts
Due: prettier --write, eslint

fix: add solid variant for combobox
  src/components/Combobox/Combobox.mdx
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

chore: add solid variant for multi combobox
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: prettier --write, eslint

chore: sanitize DateRange input props declaration
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/DoubleTextInput.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a5/3843ff3b20f83cde09aafa88e4984db5866a68
Due: none

feat: add `medium` size on `Button` element
  src/components/Button/Button.mdx
  src/components/Button/Button.tsx
  src/components/Button/useButtonStyles.tsx
Due: prettier --write, eslint

fix: migrated components that were using `small` button size to `medium`
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

refactor: use fixed height in button
  src/components/Button/useButtonStyles.tsx
Due: prettier --write, eslint

fix: make button icons be dynamic
  src/components/Button/Button.tsx
Due: prettier --write, eslint

feat: add `medium` size `Icon` and refactor components accordingly
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/DateRangeInput/DoubleTextInput.tsx
  src/components/FormError/FormError.tsx
  src/components/Icon/Icon.tsx
  src/components/Table/TableSortableHeaderCell.tsx
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint

feat: add `medium` size for `IconButton` & adjust components accordingly
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/IconButton/IconButton.mdx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/useIconButtonStyles.tsx
Due: prettier --write, eslint

test: add snapshot tests for all button sizes
  src/components/Button/Button.test.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: prettier --write, eslint

feat: add `copy` and `database-search` icons
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  83/1ab3e3d02cfb57602d95ea9ccf1fe4760408db
Due: none

refactor: add flex-centering to buttons so that the `as` prop can work
  src/components/Button/useButtonStyles.tsx
  src/components/IconButton/useIconButtonStyles.tsx
Due: prettier --write, eslint

feat: add `variantBorder` to IconButton
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/useIconButtonStyles.tsx
Due: prettier --write, eslint

revert: flex styling on button
  src/components/Button/useButtonStyles.tsx
  src/components/IconButton/useIconButtonStyles.tsx
Due: prettier --write, eslint
