Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc -p .

.lintstagedrc:

{
  "*.{ts,tsx,json,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx}": [
    "eslint",
    "tsc -p ."
  ]
}

update Button component
  .lintstagedrc
  src/components/Button.md
  src/components/Button.tsx
Due: prettier --write, eslint, tsc -p .

update IconButton component
  src/components/IconButton.md
  src/components/IconButton.tsx
Due: prettier --write, eslint, tsc -p .

add `--noEmit` to tsx
  .huskyrc
  package.json
Due: prettier --write

update rollup config to handle non-ESM exports
  rollup.config.js
Due: none

add missing globals for UMD build
  rollup.config.js
Due: none

add docs to S3
  buildspec.yml
Due: none

remove --recursive
  buildspec.yml
  src/components/Badge.md
  src/components/Badge.tsx
  src/components/Grid.md
  src/components/Grid.tsx
  src/components/Heading.md
  src/components/Heading.tsx
  src/components/Tooltip.md
  src/components/Tooltip.tsx
Due: prettier --write, eslint, tsc -p .

Revert "remove --recursive"
  buildspec.yml
  src/components/Badge.md
  src/components/Badge.tsx
  src/components/Grid.md
  src/components/Grid.tsx
  src/components/Heading.md
  src/components/Heading.tsx
  src/components/Tooltip.md
  src/components/Tooltip.tsx
Due: prettier --write, eslint, tsc -p .

remove --recursive flag from aws s3 sync
  buildspec.yml
Due: none

Revert "Revert "remove --recursive""
  src/components/Badge.md
  src/components/Badge.tsx
  src/components/Grid.md
  src/components/Grid.tsx
  src/components/Heading.md
  src/components/Heading.tsx
  src/components/Tooltip.md
  src/components/Tooltip.tsx
Due: prettier --write, eslint, tsc -p .

Delete reset.css
  src/utils/reset.css
Due: none

Add reset.css from remote repo
  styleguide.config.js
Due: none

rename `convertHex` to `convertHexToRgba`
  src/components/IconButton.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint, tsc -p .

update ignored box props on styleguidist
  styleguide.config.js
Due: none

make sure to export all interfaces from all components
  src/components/Badge.tsx
  src/components/BaseButton.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/Flex.tsx
  src/components/Grid.tsx
  src/components/Heading.tsx
  src/components/Icon.tsx
  src/components/IconButton.tsx
  src/components/Text.tsx
  src/components/Tooltip.tsx
Due: prettier --write, eslint, tsc -p .

make TS create a typings d.ts file
  tsconfig.json
Due: prettier --write

create Checkbox
  src/components/Checkbox.md
  src/components/Checkbox.tsx
Due: prettier --write, eslint, tsc -p .

create Radio
  src/components/Radio.md
  src/components/Radio.tsx
Due: prettier --write, eslint, tsc -p .

create Label
  src/components/Label.md
  src/components/Label.tsx
Due: prettier --write, eslint, tsc -p .

made tooltip more composable
  src/components/Label.tsx
  src/components/Tooltip.md
  src/components/Tooltip.tsx
Due: prettier --write, eslint, tsc -p .

add Theme type values
  src/themes/default.ts
Due: prettier --write, eslint, tsc -p .

TS recast sizeProps using Theme keys
  src/components/Heading.tsx
  src/components/Label.tsx
Due: prettier --write, eslint, tsc -p .

remove un-needed comments
  src/components/Checkbox.tsx
  src/components/Radio.tsx
Due: prettier --write, eslint, tsc -p .

add minWidth to Box
  src/components/Box.tsx
Due: prettier --write, eslint, tsc -p .

add minWidth to ignored props
  styleguide.config.js
Due: none

added default text size to `inherit`
  src/components/Text.tsx
Due: prettier --write, eslint, tsc -p .

reset margin & padding on all base buttons
  src/components/BaseButton.tsx
Due: prettier --write, eslint, tsc -p .

add Switch component
  src/components/Switch.md
  src/components/Switch.tsx
  src/themes/default.ts
Due: prettier --write, eslint, tsc -p .

replace relative paths with absolute ones
  src/components/Badge.tsx
  src/components/BaseButton.tsx
  src/components/BaseText.tsx
  src/components/Box.md
  src/components/Button.md
  src/components/Button.tsx
  src/components/Card.md
  src/components/Card.tsx
  src/components/Checkbox.tsx
  src/components/Flex.md
  src/components/Flex.tsx
  src/components/Grid.md
  src/components/Grid.tsx
  src/components/Heading.tsx
  src/components/Icon.tsx
  src/components/IconButton.md
  src/components/IconButton.tsx
  src/components/Label.md
  src/components/Label.tsx
  src/components/Radio.tsx
  src/components/Switch.tsx
  src/components/Text.tsx
  src/components/Tooltip.md
  src/components/Tooltip.tsx
  styleguide.config.js
Due: prettier --write, eslint, tsc -p .

add Global styles component -> replace default props in components
  src/components/BaseButton.tsx
  src/components/BaseText.tsx
  src/components/Icon.tsx
  src/utils/GlobalStyles.tsx
  src/utils/ThemeInjector.tsx
  styleguide.config.js
Due: prettier --write, eslint, tsc -p .

make sure that Box accepts all the native HTML attributes
  src/components/Box.tsx
  src/components/Label.tsx
Due: prettier --write, eslint, tsc -p .

fix typo in fontWeight
  src/components/Label.md
  src/components/Label.tsx
Due: prettier --write, eslint, tsc -p .

add Textarea & TextInput components
  package-lock.json
  package.json
  src/components/BaseTextInput.tsx
  src/components/TextInput.md
  src/components/TextInput.tsx
  src/components/Textarea.md
  src/components/Textarea.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint, tsc -p .

reduce text input heights
  src/components/BaseTextInput.tsx
Due: prettier --write, eslint, tsc -p .

update buildspec -- remove aws s3 sync
  buildspec.yml
Due: none

rename BaseTextInput -> BaseInputElement and export its individual component blocks
  src/components/BaseInputElement.tsx
  src/components/BaseTextInput.tsx
Due: prettier --write, eslint, tsc -p .

create Chip component
  src/components/Chip.md
  src/components/Chip.tsx
Due: prettier --write, eslint, tsc -p .

create MenuItem component
  src/components/MenuItem.md
  src/components/MenuItem.tsx
Due: prettier --write, eslint, tsc -p .

fix placeholder color
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint, tsc -p .
