Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

test: update snaps
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: none

Notes added by 'git notes add'
  73/19eec954002709f90cbcf0cfb94a84de6b9586
Due: none

chore: modify default alert props
  src/components/Alert/Alert.mdx
  src/components/Snackbar/Snackbar.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
Due: prettier --write, eslint

chore: add Nick as code owner
  .github/CODEOWNERS
Due: none

fix: downgrade `@types/react-dom` in order to play along with Panther
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bc/b4684a99556c8c8072bb0fbf27b70050ca2767
Due: none

fix: add types as strict dependency for react-dom
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  83/539b523e7d09147ee86014bfed0b5ae278541d
Due: none

fix: downgrade `@types/react` in order to play along with Panther
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  ea/1870a8e67e5ae7bee6f5c5a39491a573823e19
Due: none

fix: downgrade `@types/react` and `@types/react-dom` in order to match pounce v0.92
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6a/c06958cb0622a63c9ba9b438a8f7a89c1ed7af
Due: none

fix: downgrade `@types/react` to align with previous version working
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  93/219b22c8888ede0ef0b44698f486b0ab0e0622
Due: none

fix: align resolutions to v0.97.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  30/5e8df618d82b4f4cced69b77ea71a5700a301e
Due: none

fix: upgrade @types/react from 17.0.8 to 17.0.11
  package-lock.json
  package.json
Due: prettier --write

fix: restore `types` for react and bump `@reach/utils` fix for MenuLink
  package-lock.json
  package.json
Due: prettier --write

chore: update snapshots since the 15.0.2 version has an extra wrapper
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/components/Dropdown/__snapshots__/DropdownButton.test.tsx.snap
Due: none

Notes added by 'git notes add'
  88/e3afe693542b8bdaa36d85da5f01d0e8487a8f
Due: none

chore: bump jest from v26.0.1 to v26.6.3
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/auto-id from 0.15.0 to 0.15.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c4/855ee8a4d5f7241793048e710480ec18f4284e
Due: none

fix: upgrade @reach/popover from 0.15.0 to 0.15.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  fa/09154a0d1361963dd87563f30faad834209e05
Due: none

feat(combobox): add `withClearSelectionControl` prop to `Combobox`
  src/components/Combobox/Combobox.test.tsx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
Due: prettier --write, eslint

test: update snaps
  src/components/Combobox/Combobox.test.tsx
  src/components/Combobox/Combobox.tsx
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
Due: prettier --write, eslint

refactor: rename prop to `showClearSelectionControl`
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  50/c79713217de6c35409dd5bb5559353f9a72132
Due: none

fix: make sure that clear selection is visible on non-null falsy values
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  bd/cba2faba580343c59870ca91edf66c87609f21
Due: none

fix: upgrade @reach/tabs from 0.15.0 to 0.15.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  49/b10542a5014ba2cd04c8327585b013ad79df63
Due: none

feat: additional card color variants
  src/components/Card/Card.tsx
  src/components/Card/useCardVariantBackground.tsx
Due: prettier --write, eslint

chore: apply pr sugestions
  src/components/Card/useCardVariantBackground.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  1c/4ea9232df2031ba55a00feb51c709234165262
Due: none

fix: upgrade @reach/dialog from 0.15.0 to 0.15.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  22/339c0c755ce23b2c34241892f4a18d92cd90fe
Due: none

fix: upgrade @reach/tooltip from 0.15.0 to 0.15.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  15/af1ff8d4f8e724c4c3d02d1c611df771f70f66
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
