Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc -p .

.lintstagedrc:

{
  "*.{ts,tsx,json,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx}": [
    "eslint",
    "tsc -p ."
  ]
}

migrate styled, css, useTheme, ThemeProvider, GlobalStyles & Box
  package-lock.json
  package.json
  src/components/BaseButton.tsx
  src/components/BaseInputElement.tsx
  src/components/BaseText.tsx
  src/components/Box.tsx
  src/components/Breadcrumbs.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/Checkbox.tsx
  src/components/Flex.tsx
  src/components/Grid.tsx
  src/components/Heading.tsx
  src/components/IconButton.tsx
  src/components/Label.tsx
  src/components/MenuItem.tsx
  src/components/Modal.tsx
  src/components/Radio.tsx
  src/components/SideSheet.tsx
  src/components/Spinner.tsx
  src/components/Switch.tsx
  src/components/Table.tsx
  src/components/Tabs.tsx
  src/styled.d.ts
  src/utils/GlobalStyles.tsx
  src/utils/ThemeProvider.tsx
  src/utils/useTheme.tsx
Due: prettier --write, eslint, tsc -p .

add `shouldForwardProp` functionality
  package-lock.json
  package.json
  src/components/Box.tsx
Due: prettier --write, eslint, tsc -p .

remove styled-components
  package-lock.json
  package.json
Due: prettier --write

remove styled-components from README
  README.md
Due: prettier --write

add cleanup in circleci
  .circleci/config.yml
  package.json
Due: prettier --write

Feature/emotion (#37)
  .circleci/config.yml
  README.md
  babel.config.js
  package-lock.json
  package.json
  src/components/BaseButton.tsx
  src/components/BaseInputElement.tsx
  src/components/BaseText.tsx
  src/components/Box.tsx
  src/components/Breadcrumbs.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/Checkbox.tsx
  src/components/Flex.tsx
  src/components/Grid.tsx
  src/components/Heading.tsx
  src/components/IconButton.tsx
  src/components/Label.tsx
  src/components/MenuItem.tsx
  src/components/Modal.tsx
  src/components/Radio.tsx
  src/components/SideSheet.tsx
  src/components/Spinner.tsx
  src/components/Switch.tsx
  src/components/Table.tsx
  src/components/Tabs.tsx
  src/styled.d.ts
  src/utils/GlobalStyles.tsx
  src/utils/ThemeProvider.tsx
  src/utils/useTheme.tsx
Due: prettier --write, eslint, tsc -p .

remove complex styled prop from emotion in order to fix TS
  .circleci/config.yml
  package.json
  src/components/BaseButton.tsx
  src/components/IconButton.tsx
Due: prettier --write, eslint, tsc -p .

add ProgressBar component
  src/components/ProgressBar.md
  src/components/ProgressBar.tsx
  src/index.tsx
Due: prettier --write, eslint, tsc -p .

bump version
  package.json
Due: prettier --write

chore: add commitlint to project
  .commitlintrc.json
  .huskyrc
  package-lock.json
  package.json
Due: prettier --write

chore: add CHANGELOG.md
  CHANGELONG.md
Due: prettier --write

build: skip building for NPM for now
  .releaserc
Due: none

build: update changelog link
  CHANGELOG.md
  CHANGELONG.md
Due: prettier --write

build: migrate from conventional commits to angular
  .commitlintrc.json
  package-lock.json
  package.json
Due: prettier --write

ci: add release
  .circleci/config.yml
Due: none

build: deprecate version
  package.json
Due: prettier --write

ci: fix YAML formatting issue
  .circleci/config.yml
Due: none

ci: fix YAML indent
  .circleci/config.yml
Due: none

ci: fix YAML lint
  .circleci/config.yml
Due: none

build: add hardcoded version since it's now managed
  package.json
Due: prettier --write

Remove complex styled components (#38)
  .circleci/config.yml
  .commitlintrc.json
  .huskyrc
  .releaserc
  CHANGELOG.md
  package-lock.json
  package.json
  src/components/BaseButton.tsx
  src/components/IconButton.tsx
  src/components/ProgressBar.md
  src/components/ProgressBar.tsx
  src/index.tsx
Due: prettier --write, eslint, tsc -p .

ci: update circleci config
  .circleci/config.yml
Due: none

ci: update config
  .circleci/config.yml
Due: none

ci: remove install command
  .circleci/config.yml
Due: none

ci: remove comments
  .circleci/config.yml
Due: none

ci: fix typo
  .circleci/config.yml
Due: none

fix: allows overrides of default props with ...rest
  src/components/BaseButton.tsx
  src/components/IconButton.tsx
Due: prettier --write, eslint, tsc -p .

CI: Update CircleCI config (#39)
  .circleci/config.yml
  src/components/BaseButton.tsx
  src/components/IconButton.tsx
Due: prettier --write, eslint, tsc -p .

feat(table): add rowProps as a prop to Table. Remove cursor stylings
  src/components/Box.tsx
  src/components/Table.tsx
Due: prettier --write, eslint, tsc -p .

fix(button): add type attr
  src/components/BaseButton.tsx
Due: prettier --write, eslint, tsc -p .

feat(icon): add new icons & curate existing
  src/components/Icon.tsx
  src/icons/ic-alert.svg
  src/icons/ic-billing.svg
  src/icons/ic-company.svg
  src/icons/ic-dashboard--alt.svg
  src/icons/ic-dashboard.svg
  src/icons/ic-destination.svg
  src/icons/ic-docs.svg
  src/icons/ic-infra-analytics.svg
  src/icons/ic-infra-source.svg
  src/icons/ic-list.svg
  src/icons/ic-log-analytics.svg
  src/icons/ic-log-source.svg
  src/icons/ic-menu-input.svg
  src/icons/ic-menu-output.svg
  src/icons/ic-menu-policy.svg
  src/icons/ic-organization.svg
  src/icons/ic-policy.svg
  src/icons/ic-rule.svg
  src/icons/ic-settings--alt.svg
  src/icons/ic-settings.svg
  src/utils/usePaginatedTable.tsx
Due: prettier --write, eslint, tsc -p .

fix(icon): remove reduncant attributes from custom SVGs
  src/icons/ic-alert.svg
  src/icons/ic-dashboard--alt.svg
  src/icons/ic-destination.svg
  src/icons/ic-infra-analytics.svg
  src/icons/ic-infra-source.svg
  src/icons/ic-log-analytics.svg
  src/icons/ic-log-source.svg
  src/icons/ic-organization.svg
  src/icons/ic-policy.svg
  src/icons/ic-resource.svg
  src/icons/ic-rule.svg
  src/icons/ic-settings--alt.svg
Due: none

fix(icon): remove style & defs tags
  src/icons/ic-dashboard--alt.svg
  src/icons/ic-destination.svg
  src/icons/ic-infra-analytics.svg
  src/icons/ic-infra-source.svg
  src/icons/ic-log-analytics.svg
  src/icons/ic-log-source.svg
  src/icons/ic-organization.svg
  src/icons/ic-policy.svg
  src/icons/ic-resource.svg
  src/icons/ic-rule.svg
  src/icons/ic-settings--alt.svg
Due: none

fix(combobox): show input text updates on external value changes
  src/components/Combobox.tsx
Due: prettier --write, eslint, tsc -p .

fix(combobox): show input text updates on external value changes (#43)
  src/components/Combobox.tsx
Due: prettier --write, eslint, tsc -p .

fix(button): add type attr (#41)
  src/components/BaseButton.tsx
Due: prettier --write, eslint, tsc -p .

fix(theme): add extra colors
  src/themes/default.ts
Due: prettier --write, eslint, tsc -p .

feat(table): add `rowSeparationStrategy` prop
  src/components/Table.tsx
Due: prettier --write, eslint, tsc -p .
