Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

Notes added by 'git notes add'
  8862fecdb5df486a5b8589bd33a3ee52814d0e9a
Due: none

feat: polishing Table components api
  src/components/Box/Box.tsx
  src/components/Flex/Flex.tsx
  src/components/PseudoBox/PseudoBox.tsx
  src/components/Table/OldTable.tsx
  src/components/Table/Table.mdx
  src/components/Table/Table.tsx
  src/components/Table/TableBody.tsx
  src/components/Table/TableCell.tsx
  src/components/Table/TableHead.tsx
  src/components/Table/TableHeaderCell.tsx
  src/components/Table/TableRow.tsx
  src/components/Table/TableSortableHeaderCell.tsx
  src/components/Table/index.tsx
  src/components/Table/usePaginatedTable.tsx
  src/components/Table/useSelectableTableRows.tsx
  src/components/Table/useSortableColumns.tsx
  src/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  9d26285bcb48992b870753b6389160f06197d27b
Due: none

feat(table): expose Table components through composition
  src/components/Table/Table.mdx
  src/components/Table/TableRow.tsx
  src/components/Table/index.tsx
  src/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  dcd6d707643646b32c078f412c1879589f6e760f
Due: none

fix: add missing children
  src/components/Table/TableRow.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  b21f289fe2350a964706c7d48135275a60e6fa8b
Due: none

feat: add `inline` option to grid
  src/components/Grid/Grid.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  3a9b9943d4bbb1d994a9ab28a1ca4d765dfa4593
Due: none

fix: add vertical align middle to TD cell
  src/components/Table/TableCell.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  5e30da30555d84edb6baaba750c19a24fdc2e42a
Due: none

feat: simplify TableCell `wrapText` prop
  src/components/Table/TableCell.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  d7b1d8a38b5b3425d34ff6df1f07bcde791d20c5
Due: none

fix: replace `wordBreak` with `overflowWrap`
  src/components/Table/TableCell.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  13fd13a93ef1be14aaf3c378ad684ac8b3e00e72
Due: none

fix: restrict clickable area to header text
  src/components/Table/TableSortableHeaderCell.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  119d0e9b77fc51c98c41b9875cf985c7a37df21d
Due: none

fix: typo in verticalAlign
  src/components/Table/TableSortableHeaderCell.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  06de26ffa640e81f3b38d2f0a303a45d4ffece9a
Due: none

fix: explicitly disallow use of `is`
  src/components/Box/system.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  0a6a12fbb1d0e5a3f2b70e6c09da4e204691f601
Due: none

Fix for ComboBox for value === false
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

Updated safeItemToString
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

fix: minor prettier
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  3801ee9abee64395141af011aa057fb02bb88eb9
Due: none

docs: add example for AbstractButton
  src/components/AbstractButton/AbstractButton.mdx
Due: prettier --write

fix: add `size` to Alert. Don't allow BoxProps in Alert anymore
  src/components/Alert/Alert.mdx
  src/components/Alert/Alert.tsx
  src/components/Snackbar/Snackbar.tsx
  src/components/Snackbar/SnackbarContext.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  512d59784fc3a1babd36810c0c38a9eb60f1dacd
Due: none

chore: delete unused Pill component
  src/components/Pill/Pill.mdx
  src/components/Pill/Pill.tsx
  src/components/Pill/index.tsx
  src/index.tsx
Due: prettier --write, eslint

build: run npm audit fix
  package-lock.json
Due: prettier --write

refactor: remove BaseBadge. Now only Badge component exists
  src/components/Badge/Badge.tsx
  src/components/BaseBadge/BaseBadge.tsx
  src/components/BaseBadge/index.tsx
Due: prettier --write, eslint

enable auditing for prod deps only
  .circleci/config.yml
Due: none

feat: change fontSizes to nicknames
  src/components/Badge/Badge.tsx
  src/components/BaseInputElement/BaseInputElement.tsx
  src/components/Button/Button.tsx
  src/components/Heading/Heading.tsx
  src/components/Label/Label.tsx
  src/components/Table/TableCell.tsx
  src/components/Table/TableHeaderCell.tsx
  src/components/Tabs/Tabs.tsx
  src/components/Text/Text.tsx
  src/theme/theme.ts
  src/theme/typography.ts
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

feat: line heights now only accept nicknames
  src/components/Badge/Badge.tsx
  src/components/Heading/Heading.tsx
  src/components/Label/Label.tsx
  src/components/Table/Table.mdx
  src/components/Table/TableHeaderCell.tsx
  src/components/Text/Text.mdx
  src/components/Text/Text.tsx
  src/theme/theme.ts
  src/theme/typography.ts
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

feat: add mono font option
  src/theme/typography.ts
Due: prettier --write, eslint

fix: add missing typing
  src/theme/theme.ts
Due: prettier --write, eslint

feat: change from Roboto to DM Sans
  README.md
  src/theme/typography.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  3dda34a892f38b733ca275f99fc5fc76b7a4b908
Due: none

remove @jacknaglieri as codeowner
  .github/CODEOWNERS
Due: none

feat: add new palette alongside old one
  src/theme/colors.ts
Due: prettier --write, eslint
