Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

Notes added by 'git notes add'
  d8/4c1fcdf493a9be1c45a81fdeb51f1022f4caf5
Due: none

fix: remove 'clear selection' on TimePicker
  src/components/DateInput/TimePicker.tsx
Due: prettier --write, eslint

fix: pass in new function to multicombobox prop
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  74/76d6cb61c6bc696e7f8df9b7bc537084b380bc
Due: none

Notes added by 'git notes add'
  85/4c178e188dac7aa4503e6a53ec343983bf28d4
Due: none

fix: pin deps
  package.json
Due: prettier --write

fix: add prepare command back in
  package.json
Due: prettier --write

feat(tooltip): allow position to be set
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

fix(tooltip): make position nullable
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

docs(tooltip): include position example
  src/components/Tooltip/Tooltip.mdx
Due: prettier --write

Notes added by 'git notes add'
  4b/64595209d42945c719c5bbd527be5966bf48f2
Due: none

fix: keep table z-indices from polluting global z-index space
  src/components/Table/Table.tsx
Due: prettier --write, eslint

JSFIX patches
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  99/21a9290a3e81f0a3a0c3bca8b078f9cec5705f
Due: none

chore: add onBlur on combobox and multi combobox fields
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

feat: support blur events on comboboxes
  package-lock.json
  package.json
  src/components/MultiCombobox/MultiCombobox.test.tsx
Due: prettier --write, eslint

test: update combobox tests
  src/components/Combobox/Combobox.test.tsx
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  e5/3b874a1a7ad1996469654e0c8cbb851e23dcaa
Due: none

chore: update sections to default to h2 if at top level of document
  src/components/Article/Article.mdx
  src/components/Article/Article.test.tsx
  src/components/Heading/Heading.test.tsx
  src/components/Heading/Heading.tsx
  src/components/Modal/Modal.tsx
  src/components/Section/Section.mdx
  src/components/Section/Section.test.tsx
  src/components/Section/Section.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  39/0bf36adab3c3223a5ae213b82231736fcaba15
Due: none

feat: support navyblue-900 color
  src/theme/colors.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  2b/09638131be261b7a906dff4e1ceb86088ec36b
Due: none

fix: type error in MultiComboBox
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  02/f706d72e472ac3a2e092235f5480681745e3c2
Due: none

Adding expand icon
  src/theme/icons.tsx
Due: prettier --write, eslint

feat(icons): fixing linting errors for expand icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  5b/fcd02c737d227e5304b5578e09aa583c5505ec
Due: none

feat: add new `backgroundOpacity` prop
  src/components/Box/Box.test.tsx
  src/components/Box/__snapshots__/Box.test.tsx.snap
  src/system/styled.ts
  src/system/utility.ts
Due: prettier --write, eslint

fix: update progress bar background color
  src/components/ProgressBar/ProgressBar.mdx
  src/components/ProgressBar/ProgressBar.tsx
Due: prettier --write, eslint

feat: add new icons
  src/theme/icons.tsx
Due: prettier --write, eslint

chore: add tests for ProgressBar
  src/components/ProgressBar/ProgressBar.test.tsx
  src/components/ProgressBar/__snapshots__/ProgressBar.test.tsx.snap
Due: prettier --write, eslint

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

Notes added by 'git notes add'
  34/96bb77c20885c6c07ce0e0127759af9813894e
Due: none

chore: savepoint
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  42/0b6f5e77b76b6120277905beab1f16d9f0500f
Due: none

refactor: updating solid variant for alerts
  src/components/Snackbar/SnackbarContext.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
  src/theme/colors.ts
Due: prettier --write, eslint

fix: fixing stacking styles
  src/components/Snackbar/SnackbarContext.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
Due: prettier --write, eslint

fix: updating margins
  src/components/Snackbar/SnackbarContext.tsx
Due: prettier --write, eslint

feat: update default button background color
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  src/components/Popover/__snapshots__/Popover.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  d4/1ec9eb005e1ed8fcd06dc5f5e19a746395a458
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
