Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

test: `variantBorderStyle` in `IconButton`
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/useIconButtonStyles.tsx
Due: prettier --write, eslint

docs: add documentation for `variantBorderStyle`
  src/components/IconButton/IconButton.mdx
Due: prettier --write

test: update snaps
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: none

fix: remove `to` prop from `Button` and `IconButton`
  src/components/Button/Button.tsx
  src/components/IconButton/IconButton.tsx
Due: prettier --write, eslint

fix: add filter-light icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  7f/f2da84435873370260a41c66c6455309975198
Due: none

fix: remove `overflow:visible` from dropdown
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

refactor: rename internal component
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

chore: add `useDisclosure` internal hook
  src/utils/useDisclosure.tsx
Due: prettier --write, eslint

feat: add Popover component
  src/components/Popover/Popover.mdx
  src/components/Popover/Popover.test.tsx
  src/components/Popover/Popover.tsx
  src/components/Popover/PopoverContent.tsx
  src/components/Popover/PopoverTrigger.tsx
  src/components/Popover/index.tsx
  src/components/Popover/usePopoverContentAlignment.tsx
  src/index.tsx
Due: prettier --write, eslint

feat: add `popoverId` as prop for aria-* controls
  src/components/Popover/Popover.tsx
  src/components/Popover/PopoverContent.tsx
  src/components/Popover/PopoverTrigger.tsx
Due: prettier --write, eslint

docs: add additional examples
  src/components/Popover/Popover.mdx
Due: prettier --write

refactor: reduce the exposed state that's passed as render-props params
  src/components/Popover/Popover.tsx
Due: prettier --write, eslint

docs: update examples with more custom use cases
  src/components/Popover/Popover.mdx
Due: prettier --write

refactor: simplify trigger handlers
  src/components/Popover/PopoverTrigger.tsx
Due: prettier --write, eslint

chore: replace comment
  src/components/Popover/PopoverContent.tsx
Due: prettier --write, eslint

fix: use a fixed `id` for the popover through `@reach/auto-id`
  package.json
  src/components/Popover/Popover.tsx
Due: prettier --write, eslint

test: fix test import
  src/components/Popover/Popover.test.tsx
Due: prettier --write, eslint

refactor: create & use `useOutsideClick` and `useEscapeKey` util hooks
  src/components/Popover/PopoverContent.tsx
  src/utils/useEscapeKey.tsx
  src/utils/useOutsideClick.tsx
Due: prettier --write, eslint

test: silence noisy act warning
  jest/setup.ts
Due: prettier --write, eslint

test: add `waitMs` helper for tests
  jest/utils/helpers.ts
  jest/utils/index.ts
Due: prettier --write, eslint

fix: typing on render props of Popover
  src/components/Popover/Popover.tsx
Due: prettier --write, eslint

chore: remove perf issue by disabling event listeners when not needed
  src/components/Popover/PopoverContent.tsx
  src/utils/useOutsideClick.tsx
Due: prettier --write, eslint

chore: re-instate `popoverId`
  src/components/Popover/Popover.tsx
Due: prettier --write, eslint

test: add snapshot + usability tests for Popover
  src/components/Popover/Popover.test.tsx
  src/components/Popover/__snapshots__/Popover.test.tsx.snap
Due: prettier --write, eslint

test: speedup transitions by mocking react-spring
  __mocks__/react-spring.ts
Due: prettier --write, eslint

fix: issue with collisions
  src/components/Popover/usePopoverContentAlignment.tsx
Due: prettier --write, eslint

fix: remove default styling from popover
  src/components/Popover/Popover.mdx
  src/components/Popover/PopoverContent.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  b5/7b53576be2502d9f4241c811e5d89c1a6577ef
Due: none

feat: remove `offset` and add more `alignment` options
  src/components/Popover/Popover.mdx
  src/components/Popover/Popover.test.tsx
  src/components/Popover/PopoverContent.tsx
  src/components/Popover/__snapshots__/Popover.test.tsx.snap
  src/components/Popover/usePopoverContentAlignment.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a0/ea60959045a758e835d31a7b71217b45845b0b
Due: none

fix: filter out falsy & empty values from pasting
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: properly validate all user-added information into the Combobox
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

test: make sure to disallow empty vals
  src/components/MultiCombobox/MultiCombobox.test.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  76/91229d7502e6e2b64fdc80817e4d9da076722f
Due: none

refactor: change `useOutsideClick` to consume react refs
  src/components/Popover/PopoverContent.tsx
  src/utils/useOutsideClick.tsx
Due: prettier --write, eslint

refactor: re-write utils internal implementation
  src/components/Popover/PopoverContent.tsx
  src/utils/useEscapeKey.tsx
  src/utils/useOutsideClick.tsx
Due: prettier --write, eslint

fix: allow users to close date range picker when an outside click occurs
  src/components/DateInput/DateWrapper.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

test: verify click outside
  src/components/DateRangeInput/DateRangeInput.test.tsx
Due: prettier --write, eslint

docs: add SSR section
  README.md
Due: prettier --write
