Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

feat: add `mono` prop to Table.Cell
  src/components/Table/TableCell.tsx
  src/theme/typography.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  c6/89501effe21cdbecba182418388e8abda4881a
Due: none

feat: add new navyblue color variant
  src/theme/colors.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  62/6a19b502f9e189240bd88dfdcf1dbab1af47f3
Due: none

fix: add double-colon on pseudo-selectors
  src/components/PseudoBox/PseudoBox.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  e4/82afe0fc402792a4112f38074e30b00e693e52
Due: none

fix: wrong orange color
  src/components/Button/useButtonStyles.tsx
  src/theme/colors.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  4f/8f1d1e892c5c750c6f0c56a707f80dd5be2513
Due: none

feat: add help icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  31/25f7b0198d7bbb43bec42d67a25abbb3208f7e
Due: none

chore: add @juggle/resize-observer as pounce dependency
  package-lock.json
  package.json
Due: prettier --write

fix: add polyfill for useMeasure hook
  src/components/Collapse/Collapse.tsx
  src/components/Snackbar/SnackbarContext.tsx
Due: prettier --write, eslint

build: fix ESLint issues with CI
  src/components/Box/system.ts
  src/components/utils/Input/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  cd/ed268f2316b76b0eafa96237a41fad599eddb9
Due: none

chore: add Theodore to code-owners
  .github/CODEOWNERS
Due: none

fix: issue with JSDom and TextAreaAutosize
  src/components/utils/Input/InputElement.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  e4/c8ba70b31c2377d427e9edb82a9e9ef5a6d5a9
Due: none

WIP on improving primitive performance
  src/components/Box/Box.mdx
  src/components/Box/Box.tsx
  src/system/jsx.tsx
  src/system/pseudo.ts
  src/system/shouldForwardProp.ts
  src/system/styled.tsx
  src/system/system.tsx
  src/system/tags.ts
  src/system/types.ts
  src/system/utils.ts
Due: prettier --write, eslint

feat: add `outline` style for `IconButton`
  src/components/IconButton/IconButton.mdx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/useIconButtonStyles.tsx
Due: prettier --write, eslint

feat: add new default breakpoints to pounce
  src/components/Box/Box.mdx
  src/theme/theme.ts
Due: prettier --write, eslint

ci: fix auditing by bumping lodash
  package-lock.json
  package.json
  src/components/Table/Table.mdx
Due: prettier --write

feat: new palette and updated examples
  src/components/Badge/Badge.mdx
  src/components/Box/Box.mdx
  src/components/Flex/Flex.mdx
  src/components/Grid/Grid.mdx
  src/components/ProgressBar/ProgressBar.mdx
  src/components/PseudoBox/PseudoBox.mdx
  src/components/SimpleGrid/SimpleGrid.mdx
  src/components/Spinner/Spinner.mdx
  src/components/Table/Table.mdx
  src/components/Text/Text.mdx
  src/theme/colors.ts
Due: prettier --write, eslint

chore: update components according to palette change
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Button/useButtonStyles.tsx
  src/components/Card/Card.tsx
  src/components/Checkbox/useCheckboxStyles.tsx
  src/components/Dropdown/DropdownMenu.tsx
  src/components/FormError/FormError.tsx
  src/components/Link/useLinkStyles.tsx
  src/components/Modal/Modal.tsx
  src/components/MultiCombobox/Tag.tsx
  src/components/NumberInput/NumberInput.tsx
  src/components/ProgressBar/ProgressBar.tsx
  src/components/Radio/useRadioStyles.tsx
  src/components/SideSheet/SideSheet.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/TableHeaderCell.tsx
  src/components/Table/TableRow.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
  src/components/utils/Input/InputControl.tsx
  src/components/utils/Input/InputElement.tsx
  src/components/utils/Input/InputLabel.tsx
  src/components/utils/Menu/Menu.tsx
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

chore: add missing files
  src/utils/GlobalStyles.tsx
  src/utils/StyleguidistWrapper.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  02/2af2a71285567771ccd4e82247919f0ba97115
Due: none

Notes added by 'git notes add'
  d2/a4dbb1074d9bedd90a3520914b6c11c280addc
Due: none

Notes added by 'git notes add'
  92/ef7c307f243801ff98d0d27fc8e67187243464
Due: none

fix: lighten default orange button
  src/components/Button/useButtonStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  29/a1747606bfce3d0e8dbb7e179d39912f3c673a
Due: none

chore: add `noop` method
  src/utils/helpers.ts
Due: prettier --write, eslint

fix: add proper event dispatching for `NumberInput` component
  src/components/NumberInput/NumberInput.mdx
  src/components/NumberInput/NumberInput.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  3a/c6f8de85a7a2e92ec49018cfcb86c2153ecb8c
Due: none

fix: add missing colors
  src/theme/colors.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  69/a5c2845e6e76ac9f0f3e51b5c20a3d11907afb
Due: none

fix: align white color pallette and remove duplicates
  src/theme/colors.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  42/31ecfa2f1d1995962d57a6d18252c2474504e0
Due: none

fix: add missing `Divider` export
  src/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a4/db5456c1cc324763a9aed02141dfb1cf62e020
Due: none

fix: issue where Divider couldn't change color
  src/components/Divider/Divider.mdx
  src/components/Divider/Divider.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  e4/7c7b44b7acf10218ce4fbc33ba8b737de18ef5
Due: none
