Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

Notes added by 'git notes add'
  43/a3988e797b4496c09a549ee67e199d3af58bbb
Due: none

fix: add dummy style injection upon jest setup
  jest/setup.ts
Due: prettier --write, eslint

chore: cleanup <Box /> snapshot testing
  src/components/Box/Box.test.tsx
  src/components/Box/__snapshots__/Box.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  6a/a90bff7d8a059c7dd198073efec221da2ef91b
Due: none

chore: bump date-fns version
  package.json
Due: prettier --write

chore: extend ButtonProps to assign styled system values
  src/components/Button/Button.tsx
Due: prettier --write, eslint

feat: add TimePicker component
  src/components/DateInput/TimePicker.tsx
Due: prettier --write, eslint

feat: extend TextInput with icons
  src/components/TextInput/TextInput.mdx
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint

feat: extend DateInput with and align the component with design specs
  jest/babel.config.js
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.tsx
  src/components/DateInput/OverlayComponent.tsx
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

feat: add Jest test coverage scripts
  jest/config.js
  package.json
Due: prettier --write, eslint

feat: introduce the `DateRangeInput` component
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/OverlayComponent.tsx
  src/components/DateRangeInput/TimePicker.tsx
  src/components/DateRangeInput/TimePickerSlot.tsx
  src/components/DateRangeInput/index.tsx
Due: prettier --write, eslint

feat: introduce the `DoubleTextInput` component
  src/components/DoubleTextInput/DoubleTextInput.mdx
  src/components/DoubleTextInput/DoubleTextInput.test.tsx
  src/components/DoubleTextInput/DoubleTextInput.tsx
  src/components/DoubleTextInput/__snapshots__/DoubleTextInput.test.tsx.snap
  src/components/DoubleTextInput/index.tsx
Due: prettier --write, eslint

chore: update DateInput docs and tests
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.tsx
Due: prettier --write, eslint

chore: add snapshot testing for TextInput
  jest/utils/render.tsx
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: prettier --write, eslint

fixup! Initalize repo
  jest/babel.config.js
Due: prettier --write, eslint

fix: add aria-label to spinner
  src/components/Spinner/Spinner.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  08/a840b794ea56839e69f8d1d7f4b47796b0f431
Due: none

fix: remediate TS declaration files issue
  package.json
  tsconfig.json
Due: prettier --write

Notes added by 'git notes add'
  b1/e25b087e9fc35fc13c5231fb802bdd069c3ff5
Due: none

feat: add scrollbar styling
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  76/3b63fdaf5d6ccb942ec7b1e22a358db1e2a074
Due: none

fix: css stylings for scrollbar
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  b8/ebf82fc3d71e87ae44e76c03e70c8f776c8da4
Due: none

fix: add CSS units on border-radius
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  f3/611d52670ecf0c88ebeaf93a9756d40698bad9
Due: none

feat: add render-props to `Tab` & removing default styling
  src/components/Tabs/Tab.tsx
  src/components/Tabs/TabList.tsx
  src/components/Tabs/Tabs.mdx
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/Tabs/useTabStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  c1/ec8062c8a53bae86a9a39e10d15b245cc62344
Due: none

fix: optimize for perf when multiple Tabs are present
  src/components/Tabs/Tab.tsx
  src/components/Tabs/TabList.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  1b/9ba7bd1d78d7130c4fd262184919b76cce19d1
Due: none

fix: remove un-needed <ul> element for TabList
  src/components/Tabs/TabList.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  01/8b0843ed269c8f31c372fd1b65948bd6a44631
Due: none

feat: add default z-Index to `Tab`
  src/components/Tabs/Tab.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  83/8d4d929389501a8da7c823329ff34a5ee383a8
Due: none

fix: prevent un-necessary `willChange` on FadeIns without direction
  src/components/FadeIn/FadeIn.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  68/6b2a2b079aab3c257121b9b25ae7da78b88654
Due: none

build: remove un-used babel plugin
  babel.config.js
Due: prettier --write, eslint

chore: remove un-used packages
  package-lock.json
  package.json
Due: prettier --write

refactor: remove `PseudoBox` component
  src/components/PseudoBox/PseudoBox.mdx
  src/components/PseudoBox/PseudoBox.tsx
  src/components/PseudoBox/index.tsx
  src/index.tsx
Due: prettier --write, eslint

refactor: replace with
  src/components/Badge/Badge.tsx
  src/components/Breadcrumbs/Breadcrumbs.tsx
  src/components/Button/Button.tsx
  src/components/Collapse/Collapse.tsx
  src/components/Dropdown/DropdownButton.tsx
  src/components/FadeIn/FadeIn.tsx
  src/components/FadeIn/utils.ts
  src/components/FormHelperText/FormHelperText.tsx
  src/components/Heading/Heading.tsx
  src/components/Link/Link.tsx
  src/components/Link/useLinkStyles.tsx
  src/components/MultiCombobox/Tag.tsx
  src/components/NumberInput/NumberInput.tsx
  src/components/Radio/Radio.tsx
  src/components/Radio/useRadioStyles.tsx
  src/components/SimpleGrid/SimpleGrid.tsx
  src/components/Switch/Switch.tsx
  src/components/Table/Table.tsx
  src/components/Table/TableBody.tsx
  src/components/Table/TableHead.tsx
  src/components/Table/TableHeaderCell.tsx
  src/components/Table/TableRow.tsx
  src/components/Table/TableSortableHeaderCell.tsx
  src/components/Tabs/Tab.tsx
  src/components/Tabs/TabList.tsx
  src/components/TextArea/TextArea.mdx
  src/components/TextArea/TextArea.tsx
  src/components/TextInput/TextInput.mdx
  src/components/TextInput/TextInput.tsx
  src/components/utils/Input/InputControl.tsx
  src/components/utils/Input/InputLabel.tsx
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

fix: update snapshot tests for Tabs
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: none
