Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: allow transform prop on DropdownItems (for manual corrections)
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  16/21f27d2eb58537e984bd228a36e5e1b727ee18
Due: none

feat: add styling to tabs
  src/components/Tabs/Tab.tsx
  src/components/Tabs/TabList.tsx
  src/components/Tabs/useTabStyles.tsx
Due: prettier --write, eslint

refactor: simplify react code
  src/components/Tabs/Tab.tsx
Due: prettier --write, eslint

Revert "refactor: simplify react code"
  src/components/Tabs/Tab.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  3b/6e0e42f1fcb1c7926f6d4c54d481fc41d5b946
Due: none

wip
  .eslintrc
  .npmignore
  jest/babel.config.js
  jest/config.js
  jest/setup.ts
  jest/utils.tsx
  package-lock.json
  package.json
  src/components/Box/Box.test.tsx
  src/sanity.test.ts
  tsconfig.json
Due: prettier --write, eslint

feat: add divider line below tabs
  src/components/Tabs/TabList.tsx
Due: prettier --write, eslint

fix: remove tab focus within TabPanel
  src/components/Tabs/TabPanel.tsx
  src/components/Tabs/index.tsx
Due: prettier --write, eslint

feat: re-instate outline
  src/components/Tabs/useTabStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  98/42e7d6c02c4498855b18247d2e92779f817f02
Due: none

fix: tab styling
  src/components/Tabs/TabList.tsx
  src/components/Tabs/TabPanel.tsx
  src/components/Tabs/Tabs.mdx
  src/components/Tabs/useTabStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  48/3e1a9bef445b472a5e8b4f37d89780cda85920
Due: none

fix: add zIndex to modal's close button
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

fix: typescript typings for the `Tab` element
  src/components/Tabs/Tab.tsx
Due: prettier --write, eslint

fix: icon stroke
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  d5/811a0e93797a32c1c1125e214e7c05656d1d68
Due: none

chore: wwwip
  .npmignore
  jest/config.js
  jest/setup.ts
  jest/utils.tsx
  package-lock.json
  package.json
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Box/Box.test.tsx
  src/components/Box/__snapshots__/Box.test.tsx.snap
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/DropdownButton.test.tsx
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/components/Flex/Flex.test.tsx
  src/components/Flex/__snapshots__/Flex.test.tsx.snap
  tsconfig.json
Due: prettier --write, eslint

fix: link color according to latest design lib updates
  src/components/Link/useLinkStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  55/5b3cf08339484ac493a54486e8a311e04053f7
Due: none

fix: wrong TS declaration
  src/components/Tabs/TabList.tsx
Due: prettier --write, eslint

refactor: automatically pass `index` to `TabPanel` from `TabPanels`
  src/components/Tabs/TabPanels.tsx
Due: prettier --write, eslint

feat: add new `lazy` and `unmountWhenInactive` props to `TabPanel`
  src/components/Tabs/TabPanel.tsx
Due: prettier --write, eslint

docs: update examples for Tabs, showcasing lazy loading
  src/components/Tabs/Tabs.mdx
Due: prettier --write

feat: add testing utils and jest setup
  jest/babel.config.js
  jest/config.js
  jest/setup.ts
  jest/utils.tsx
Due: prettier --write, eslint

chore: misc configuration options for jest
  .eslintrc
  .npmignore
  tsconfig.json
Due: prettier --write

chore: add testing dependencies
  package-lock.json
  package.json
Due: prettier --write

chore: add proper types and utils for jest and jest-axe
  jest/config.js
  jest/utils/index.ts
  jest/utils/types.ts
  package.json
  tsconfig.json
Due: prettier --write, eslint

chore: add tiny sanity spec
  src/sanity.test.ts
Due: prettier --write, eslint

chore: add first tests for <Flex />
  src/components/Flex/Flex.test.tsx
  src/components/Flex/__snapshots__/Flex.test.tsx.snap
Due: prettier --write, eslint

chore: add first tests for <Box />
  src/components/Dropdown/Dropdown.test.tsx
  src/components/Dropdown/DropdownButton.test.tsx
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
Due: prettier --write, eslint

chore: add naive tests for <Box />
  src/components/Box/Box.test.tsx
  src/components/Box/__snapshots__/Box.test.tsx.snap
Due: prettier --write, eslint

fix: add proper role for <Badge /> component and axe testing
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: prettier --write, eslint

chore: cleanup, align with PR comments and remove redundant packages
  .eslintrc
  .eslintrc.js
  babel.config.js
  jest/babel.config.js
  jest/config.js
  jest/utils/index.ts
  jest/utils/render.tsx
  jest/utils/types.ts
  package-lock.json
  package.json
  src/components/Badge/Badge.test.tsx
  src/components/Dropdown/__snapshots__/DropdownButton.test.tsx.snap
  tsconfig.json
Due: prettier --write, eslint

chore: update circle ci build steps
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  e1/d711c126a171b733cf9d36c261ec92f0af76dd
Due: none

fix: styleguist ignore pattern
  styleguide.config.js
Due: prettier --write, eslint

Notes added by 'git notes add'
  04/8633441d818fe7a0b8d355216a5a0d4595b4cf
Due: none

test: add tests for Tabs
  src/components/Tabs/Tabs.test.tsx
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: prettier --write, eslint

fix: remove obsolete snapshot
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
