Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: upgrade @types/react-dom from 16.9.8 to 16.9.11
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/auto-id from 0.13.0 to 0.13.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade lodash from 4.17.19 to 4.17.21
  package-lock.json
  package.json
Due: prettier --write

fix: added as div where needed
  src/components/Modal/Modal.tsx
  src/components/SideSheet/SideSheet.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  29/7ef043be79b9b0aa82fed235b4df25162aaf85
Due: none

chore: added @reach/utils directly & added as div on tooltip
  package-lock.json
  package.json
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

chore: sanitize version of reach packages
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e/49ebdba18bbd9c649d080ca11e952b42e570df
Due: none

fix: upgrade @types/react from 16.14.3 to 16.14.5
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade react-use-measure from 2.0.1 to 2.0.3
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @juggle/resize-observer from 3.2.0 to 3.3.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @types/fuzzaldrin from 2.1.2 to 2.1.3
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @types/reach__menu-button from 0.1.0 to 0.1.1
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  20/b4f131565230b0bee2a8f6f88a7e00a71d0953
Due: none

Notes added by 'git notes add'
  82/fe37518bde260304c2fe1fdadd84d4c5cd76a6
Due: none

Notes added by 'git notes add'
  ca/35cf95a69424eb308b11675e22576779bcd7b4
Due: none

Notes added by 'git notes add'
  77/65f34eb5370fe321a5ed47e4f5fc4c10e2e739
Due: none

Notes added by 'git notes add'
  0d/c1d623ae7bbb5c8bdf7057bbd637c64a61691f
Due: none

fix: upgrade @types/styled-system__css from 5.0.13 to 5.0.15
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @types/history from 4.7.7 to 4.7.8
  package-lock.json
  package.json
Due: prettier --write

chore: add clear buttons
  src/components/DateInput/ClearButton.tsx
Due: prettier --write, eslint

feat: add clear button for DateInput
  src/components/DateInput/DateInput.tsx
Due: prettier --write, eslint

feat: add clear button for DateRangeInput
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

chore: add docs and update tests
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.test.tsx
Due: prettier --write, eslint

chore: add docs and update tests for DateRange
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  a8/7d137ad1bee12a3c600e9cd727c9b817c5b68a
Due: none

Notes added by 'git notes add'
  bd/0a48e1b6aee665122d5a8caa6f43ae54620c4c
Due: none

fix: upgrade @types/styled-system from 5.1.9 to 5.1.10
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @types/styled-system__should-forward-prop from 5.1.1 to 5.1.2
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f9/9a2bcf1d8b95a9f5b5d90caae619889de01d75
Due: none

fix: upgrade cross-env from 7.0.2 to 7.0.3
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  15/1f41f63a6f7b53b8af2175b5869d16f245c9ea
Due: none

Notes added by 'git notes add'
  7f/997a84f3d7b8133a633a3c6241f12e00b20379
Due: none

chore: add `usePrevious` hooks
  src/utils/usePrevious.tsx
Due: prettier --write, eslint

feat: add value checking along with previous values checking
  src/components/DateInput/DateInput.test.tsx
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.mdx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

fix: upgrade @types/react-dom from 16.9.11 to 16.9.12
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade react-use-measure from 2.0.3 to 2.0.4
  package-lock.json
  package.json
Due: prettier --write

chore: fix typings
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

chore: add sanitize values checking
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  d6/74d90cf8541f6da0f01c598347d7777f82fcb9
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
