Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{ts,tsx,json,md}": [
    "prettier --write"
  ],
  "*.{ts,tsx}": [
    "eslint"
  ]
}

test: wip - simplify build process
  babel.config.js
  package-lock.json
  package.json
  styleguide.config.js
  tsconfig.json
Due: prettier --write

refactor: update theme typings
  src/components/Badge.tsx
  src/components/Button.tsx
  src/components/Heading.tsx
  src/components/Label.tsx
  src/components/Pill.tsx
  src/components/Tabs.tsx
  src/themes/colors.ts
  src/themes/default.ts
  src/themes/typography.ts
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

refactor: remove un-needed rollup/webpack configs
  babel.config.js
  package-lock.json
  package.json
  rollup.config.js
  styleguide.config.js
Due: prettier --write

fix: icons typo
  src/themes/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a8c2d50b3675044d0fae2ab81d81b9487f390421
Due: none

update readme
  README.md
Due: prettier --write

feat: update & refactor BoxProps & adjust related components
  src/components/Alert.tsx
  src/components/BaseBadge.tsx
  src/components/BaseButton.tsx
  src/components/BaseInputElement.tsx
  src/components/BaseText.tsx
  src/components/Box.tsx
  src/components/Box/Box.md
  src/components/Box/Box.tsx
  src/components/Box/config.ts
  src/components/Box/index.tsx
  src/components/Button.tsx
  src/components/Card.tsx
  src/components/Flex.tsx
  src/components/Grid.tsx
  src/components/Icon.tsx
  src/components/MenuItem.tsx
  src/components/Text.tsx
  src/image.d.ts
  src/overrides.d.ts
Due: prettier --write, eslint

fix: add proper TS support for all Box props
  src/components/Box/Box.md
  src/components/Box/Box.tsx
  src/components/Box/config.ts
  src/components/Box/index.tsx
  src/components/Box/system.ts
Due: prettier --write, eslint

refactor: rename & refactor files in theme folder
  src/components/Alert.tsx
  src/components/Box/system.ts
  src/components/Heading.tsx
  src/components/Icon.tsx
  src/components/Label.tsx
  src/components/ProgressBar.tsx
  src/index.tsx
  src/styled.d.ts
  src/theme/colors.ts
  src/theme/icons.tsx
  src/theme/index.ts
  src/theme/theme.ts
  src/theme/typography.ts
  src/utils/ThemeProvider.tsx
  src/utils/useTheme.tsx
Due: prettier --write, eslint

refactor: replace .md with .mdx
  src/components/Alert/Alert.mdx
  src/components/Badge/Badge.mdx
  src/components/Box/Box.mdx
  src/components/Breadcrumbs/Breadcrumbs.mdx
  src/components/Button/Button.mdx
  src/components/Card/Card.mdx
  src/components/Checkbox/Checkbox.mdx
  src/components/Chip/Chip.mdx
  src/components/Combobox/Combobox.mdx
  src/components/DateInput/DateInput.mdx
  src/components/Dropdown/Dropdown.mdx
  src/components/Flex/Flex.mdx
  src/components/Grid/Grid.mdx
  src/components/Heading/Heading.mdx
  src/components/Icon/Icon.mdx
  src/components/IconButton/IconButton.mdx
  src/components/Label/Label.mdx
  src/components/MenuItem/MenuItem.mdx
  src/components/Modal/Modal.mdx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/Pill/Pill.mdx
  src/components/ProgressBar/ProgressBar.mdx
  src/components/Radio/Radio.mdx
  src/components/SideSheet/SideSheet.mdx
  src/components/Snackbar/Snackbar.mdx
  src/components/Spinner/Spinner.mdx
  src/components/Switch/Switch.mdx
  src/components/Table/Table.mdx
  src/components/Tabs/Tabs.mdx
  src/components/Text/Text.mdx
  src/components/TextArea/TextArea.mdx
  src/components/TextInput/TextInput.mdx
  src/components/Tooltip/Tooltip.mdx
  styleguide.config.js
Due: none

ci: create lint script
  package.json
Due: prettier --write

feat: remove table hooks from library
  src/components/Table/Table.mdx
  src/components/Table/usePaginatedTable.tsx
  src/components/Table/useSelectableTableRows.tsx
  src/components/Table/useSortableColumns.tsx
  src/index.tsx
Due: prettier --write, eslint

fix: broken default export
  src/index.tsx
Due: prettier --write, eslint

refactor: add tsx to code examples
  src/components/Alert/Alert.mdx
  src/components/Badge/Badge.mdx
  src/components/Box/Box.mdx
  src/components/Breadcrumbs/Breadcrumbs.mdx
  src/components/Button/Button.mdx
  src/components/Card/Card.mdx
  src/components/Checkbox/Checkbox.mdx
  src/components/Chip/Chip.mdx
  src/components/Combobox/Combobox.mdx
  src/components/DateInput/DateInput.mdx
  src/components/Dropdown/Dropdown.mdx
  src/components/Flex/Flex.mdx
  src/components/Grid/Grid.mdx
  src/components/Heading/Heading.mdx
  src/components/Icon/Icon.mdx
  src/components/IconButton/IconButton.mdx
  src/components/Label/Label.mdx
  src/components/MenuItem/MenuItem.mdx
  src/components/Modal/Modal.mdx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/Pill/Pill.mdx
  src/components/ProgressBar/ProgressBar.mdx
  src/components/Radio/Radio.mdx
  src/components/SideSheet/SideSheet.mdx
  src/components/Snackbar/Snackbar.mdx
  src/components/Spinner/Spinner.mdx
  src/components/Switch/Switch.mdx
  src/components/Table/Table.mdx
  src/components/Tabs/Tabs.mdx
  src/components/Text/Text.mdx
  src/components/TextArea/TextArea.mdx
  src/components/TextInput/TextInput.mdx
  src/components/Tooltip/Tooltip.mdx
  styleguide.config.js
  styleguide.setup.js
Due: none

ci: add mdx to npm scripts
  package.json
Due: prettier --write

fix: remove viewBox from CSS styles
  src/components/Box/system.ts
Due: prettier --write, eslint

fix: correct Icon alignment
  src/components/Icon/Icon.tsx
Due: prettier --write, eslint

ci: lintstaged now lints mdx
  .lintstagedrc
Due: none

docs: filter out StyledSystem props from docs
  styleguide.config.js
Due: none

docs: ignore optional styling props
  src/components/Box/system.ts
Due: prettier --write, eslint

docs: refactor ```text to ```shell
  src/components/Tabs/Tabs.mdx
Due: none

docs: chance ```text to ```shell
  src/components/Card/Card.mdx
  src/components/Dropdown/Dropdown.mdx
  src/components/Table/Table.mdx
Due: none

docs: chance ```text to ```shell
  src/components/Snackbar/SnackbarContext.tsx
  src/components/Snackbar/index.tsx
  src/components/SnackbarContext/index.tsx
  src/index.tsx
Due: prettier --write, eslint

docs: remove `inputMode`
  styleguide.config.js
Due: none

fix: add missing type export
  src/components/Box/system.ts
Due: prettier --write, eslint

ci: add --write option to npm run lint
  package.json
Due: prettier --write

chore: lint mdx with prettier
  src/components/Alert/Alert.mdx
  src/components/Box/Box.mdx
  src/components/Button/Button.mdx
  src/components/Checkbox/Checkbox.mdx
  src/components/Combobox/Combobox.mdx
  src/components/DateInput/DateInput.mdx
  src/components/Flex/Flex.mdx
  src/components/Grid/Grid.mdx
  src/components/IconButton/IconButton.mdx
  src/components/Label/Label.mdx
  src/components/MenuItem/MenuItem.mdx
  src/components/Modal/Modal.mdx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/Pill/Pill.mdx
  src/components/ProgressBar/ProgressBar.mdx
  src/components/Radio/Radio.mdx
  src/components/SideSheet/SideSheet.mdx
  src/components/Spinner/Spinner.mdx
  src/components/Switch/Switch.mdx
  src/components/TextInput/TextInput.mdx
  src/components/Tooltip/Tooltip.mdx
Due: none

docs: fix unclosed anchor tag
  src/components/Snackbar/Snackbar.mdx
Due: none

Notes added by 'git notes add'
  a3e064c071924ee7c12b8d02f5ff55deb85e8541
Due: none

docs: fix icon in dropdown
  src/components/Dropdown/Dropdown.mdx
  src/components/Icon/Icon.tsx
  src/components/MenuItem/MenuItem.mdx
Due: prettier --write, eslint

fix: temporarily revert @reach/menu button
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  9b97aa01dfd70bf54eaa3a6338529a7332c1a03f
Due: none

fix: allow both string & numbers in margins
  src/components/Box/system.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  6223280aeb01e197de95df92b462018fa0b7c46b
Due: none

fix: export Theme typing
  src/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  02c19e52d9349ef0b438241428a3ee25c5c86a19
Due: none
