Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

Notes added by 'git notes add'
  ff/8c6a3439ef77c60e7c3c722e4eaf9c5e8e3aa2
Due: none

Notes added by 'git notes add'
  0c/09866c2eba71f032ede4845d929d5d3d03cd8d
Due: none

fix: upgrade @reach/auto-id from 0.13.2 to 0.14.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/popover from 0.13.2 to 0.14.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/menu-button from 0.13.2 to 0.14.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/tooltip from 0.13.2 to 0.14.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/dialog from 0.13.2 to 0.14.0
  package-lock.json
  package.json
Due: prettier --write

chore: bump reach dependency to v0.14.0
  package-lock.json
  package.json
Due: prettier --write

fix: fix combobox overflow issues
  src/components/MultiCombobox/Tag.tsx
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

test: update snapshots
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

fix: add z-index for modal
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  9c/f853e136c167bc834b5e1bedec6d369ac74c70
Due: none

fix: clone only children not null
  src/components/Tabs/TabList.tsx
Due: prettier --write, eslint

fix: clone TabPanel if child is defined
  src/components/Tabs/TabPanels.tsx
Due: prettier --write, eslint

fix: filter null childrens
  src/components/Tabs/TabList.tsx
  src/components/Tabs/TabPanels.tsx
Due: prettier --write, eslint

fix: removed un-necessary filter func
  src/components/Tabs/TabList.tsx
  src/components/Tabs/TabPanels.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  e2/ed5d9cf4ab69c949f8abd71c8a352b9b081058
Due: none

Notes added by 'git notes add'
  1e/af5abcae0708ca23628406250210d0c77e4935
Due: none

feat(alert): the `title` prop is now optional
  src/components/Modal/Modal.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  bf/ceba11f44d7cabafd8b01043a8551748705c0b
Due: none

fix: refactor SnackbarProvider to limit re-renders
  src/components/Snackbar/SnackbarContext.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  39/c4e4ca276a635dc01962d12ef7a9303ae6d628
Due: none

fix: collapse combobox when clicking carret
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: prettier --write, eslint

fix: upgrade @emotion/styled from 11.1.5 to 11.3.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @emotion/serialize from 1.0.1 to 1.0.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/auto-id from 0.14.0 to 0.15.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/menu-button from 0.14.0 to 0.15.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/popover from 0.14.0 to 0.15.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  84/5b81f0848bef1a41fe441237a66b319e4c4917
Due: none

fix: upgrade @reach/tabs from 0.14.0 to 0.15.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  da/dadd67ca267aaa3d2d9894c69e64fe870e8f73
Due: none

fix: global styles for type number
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

chore: update inline styles for input number
  src/components/utils/Input/InputElement.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  77/003388eacbdb270b310a496ae6d449c676434b
Due: none

feat: checkbox indeterminate state
  src/components/Checkbox/Checkbox.mdx
  src/components/Checkbox/Checkbox.tsx
  src/components/Checkbox/useCheckboxStyles.tsx
Due: prettier --write, eslint

chore: checked state should override indeterminate
  src/components/Checkbox/Checkbox.mdx
  src/components/Checkbox/useCheckboxStyles.tsx
Due: prettier --write, eslint

wip remove styled components
  src/components/AbstractButton/AbstractButton.tsx
  src/components/Box/Box.tsx
  src/components/Text/Text.tsx
Due: prettier --write, eslint

wip remove ts checking
  src/components/AbstractButton/AbstractButton.tsx
  src/components/Box/Box.tsx
  src/components/Text/Text.tsx
  tsconfig.json
Due: prettier --write, eslint

wip fix ts errors
  src/components/AbstractButton/AbstractButton.tsx
  src/components/Text/Text.tsx
  src/system/styled.ts
Due: prettier --write, eslint

chore: wip as keyword
  src/components/Box/Box.tsx
Due: prettier --write, eslint
