Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

Notes added by 'git notes add'
  6b/7eb7d62a8b6abb63c647fdf8fb523359d1423c
Due: none

fix: add start/end date validation in DateRangePicker
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  ed/9d3b2eb2cd2a6a39976f494ece7d1fa55cbe0f
Due: none

feat: support grouping of combo box items
  src/components/MultiCombobox/MenuItemGroup.tsx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

chore: add filtering to nested multi combobox
  src/components/MultiCombobox/MenuItemGroup.tsx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

chore: truncate menu item group names
  src/components/MultiCombobox/MenuItemGroup.tsx
  src/components/MultiCombobox/MultiCombobox.mdx
Due: prettier --write, eslint

chore: limit the dropdown group depth to one
  src/components/MultiCombobox/MenuItemGroup.tsx
  src/components/MultiCombobox/MenuItemGroups.tsx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

test: add tests for combobox groups
  src/components/MultiCombobox/MenuItemGroups.tsx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: add missing `TabsOrientation` export
  src/components/Tabs/Tabs.tsx
  src/components/Tabs/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  84/231ea98aeed792433c15109c48d0b83d69581c
Due: none

fix: broken tabs export
  src/components/Tabs/Tabs.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  20/6b71e76c96e13ca77fb0823799e94220e8ffac
Due: none

fix: replace type export with named one
  src/components/Tabs/index.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  c8/7e69627874130b9a55c00a4a653ddca7e174ec
Due: none

fix: upgrade dayjs from 1.8.32 to 1.10.4
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @types/react from 16.9.44 to 16.14.3
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @emotion/react from 11.0.0-next.14 to 11.1.4
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @types/lodash from 4.14.160 to 4.14.168
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @emotion/styled from 11.0.0-next.14 to 11.0.0
  package-lock.json
  package.json
Due: prettier --write

feat: add new service icons
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  f0/315142c1785ac52304633b361dd47aed3cd4ad
Due: none

chore: refactor grouping in MultiComboBox
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/ComboBoxItems/ComboBoxItems.tsx
Due: prettier --write, eslint

feat: add grouping support in Combobox
  src/components/Combobox/Combobox.mdx
  src/components/Combobox/Combobox.tsx
  src/components/DateInput/DateInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/utils/ComboBoxItems/ComboBoxItems.tsx
Due: prettier --write, eslint

feat: inline MultiComboBox input field
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

test: update test snapshots
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: prettier --write, eslint

chore: apply pr suggestions
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

test: update snapshots
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

chore: apply pr suggestions
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MenuItemGroups.tsx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/ComboBoxItems/ComboBoxItems.tsx
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

chore: remove unnecessary condition
  src/components/utils/ComboBoxItems/ComboBoxItems.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  f9/c1d9dfee770dc2ca4783c0e5084b130dc0340b
Due: none

Notes added by 'git notes add'
  bf/6b0eddc7557694de8004841b49e933ec7ae7ee
Due: none

chore: display selected items in the dropdown list
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/ComboBoxItems/ComboBoxItems.tsx
Due: prettier --write, eslint

feat: asana gh actions
  .github/workflows/asana.yml
Due: none

chore: debug section
  .github/workflows/asana.yml
Due: none

Revert "chore: debug section"
  .github/workflows/asana.yml
Due: none

fix: correct input variable
  .github/workflows/asana.yml
Due: none

Notes added by 'git notes add'
  ed/9e1f44ecc13a202a76eda3226382895b1708cf
Due: none

feat: allow selecting item groups in MultiComboBox
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/ComboBoxItems/ComboBoxItems.tsx
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

test: add tests for MultiComboBox
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: prettier --write, eslint
