Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

fix: upgrade @types/history from 4.7.8 to 4.7.9
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  07/54a991cde68bc2ca7e84b402b40914ffb208d0
Due: none

fix: upgrade @types/react-textarea-autosize from 4.3.5 to 4.3.6
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  15/2ea5141c74c24b4874c489fbe7c4bd25d667dc
Due: none

fix: upgrade @types/lodash from 4.14.170 to 4.14.171
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  d5/4e9b920916e0fab99aa7c13186d521343ac1eb
Due: none

fix: upgrade @types/fuzzaldrin from 2.1.3 to 2.1.4
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a9/82741302b76fcda268994d3d303253e99236ef
Due: none

fix: upgrade @reach/auto-id from 0.15.2 to 0.15.3
  package-lock.json
  package.json
Due: prettier --write

feat: additional button colors
  src/components/Box/Box.mdx
  src/components/Button/Button.mdx
  src/components/Button/Button.tsx
  src/components/Button/useButtonStyles.tsx
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/components/Dropdown/__snapshots__/DropdownButton.test.tsx.snap
  src/components/IconButton/IconButton.mdx
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/useIconButtonStyles.tsx
  src/components/Modal/Modal.tsx
  src/components/Popover/Popover.mdx
  src/components/SideSheet/SideSheet.mdx
  src/components/SideSheet/SideSheet.tsx
Due: prettier --write, eslint

chore: modify button paddings
  src/components/Button/Button.tsx
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Button/useButtonStyles.tsx
  src/components/Popover/__snapshots__/Popover.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  a1/f61acffd2570b0fe7953793f9337196235bce4
Due: none

fix: upgrade @reach/dialog from 0.15.2 to 0.15.3
  package-lock.json
  package.json
Due: prettier --write

chore: fix button paddings
  src/components/Button/Button.tsx
Due: prettier --write, eslint

test: update snaps
  src/components/Dropdown/__snapshots__/Dropdown.test.tsx.snap
  src/components/Dropdown/__snapshots__/DropdownButton.test.tsx.snap
Due: none

Notes added by 'git notes add'
  6f/6ffb68e5335e3f41bf5af136500caa3517ed8f
Due: none

Notes added by 'git notes add'
  b9/6d338c293a7d924cbf1a00cb626dcffbaad121
Due: none

fix: upgrade @reach/popover from 0.15.2 to 0.15.3
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  6e/33816522daf1ed3e8b0894fcdf3ea18cc0a334
Due: none

fix: upgrade @reach/tooltip from 0.15.2 to 0.15.3
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  03/7418badc7145073e451568ded166007dc6c496
Due: none

fix: upgrade @reach/tabs from 0.15.2 to 0.15.3
  package-lock.json
  package.json
Due: prettier --write

chore: remove @vorillaz from CODEOWNERS
  .github/CODEOWNERS
Due: none

Notes added by 'git notes add'
  21/ce46a1c1d50824b4e67302aa7dde6644776fee
Due: none

fix: upgrade @types/styled-system__css from 5.0.15 to 5.0.16
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  41/682ebce44cfb9e2a8665f15b7aa209928d4410
Due: none

fix: upgrade @types/styled-system from 5.1.11 to 5.1.12
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  37/323e41b50361e175e10fb9adc52acf7a3b6568
Due: none

fix: upgrade dayjs from 1.10.5 to 1.10.6
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  89/9dabcfd586acf419c72eec9f091a37112cc548
Due: none

fix: upgrade @types/react from 17.0.14 to 17.0.15
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  f0/34158f5c2793dbff72974e0df051722835c775
Due: none

fix: upgrade @reach/tabs from 0.15.3 to 0.16.1
  package-lock.json
  package.json
Due: prettier --write

docs: fix readme typo 🙃
  README.md
Due: prettier --write

chore: add Benjamin as a CODEOWNER
  .github/CODEOWNERS
Due: none

chore: removed property wordBreak from MenuItem
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

chore: added whiteSpace property of "nowrap"
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

test: updated broken snapshots
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

revert: re-instated property break-all for MenuItem
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

feat: added a minWidth prop from DropdownMenu
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
