Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

Update CODEOWNERS
  .github/CODEOWNERS
Due: none

fix: remove `increase` prop
  src/components/H/H.test.tsx
  src/components/H/H.tsx
  src/components/H/index.ts
Due: prettier --write, eslint

feat: add `H` and `Section` for heading-level management
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/H/H.mdx
  src/components/H/H.test.tsx
  src/components/H/H.tsx
  src/components/H/Section.tsx
  src/components/H/index.ts
  src/components/Heading/Heading.tsx
  src/components/Modal/Modal.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
  src/index.tsx
Due: prettier --write, eslint

refactor: split out `Section` and `Article` tags
  src/components/Article/Article.tsx
  src/components/Article/index.ts
  src/components/Section/Section.tsx
  src/components/Section/index.ts
  src/index.tsx
Due: prettier --write, eslint

chore: add docs + tests for article / section
  src/components/Article/Article.mdx
  src/components/Article/Article.test.tsx
  src/components/Article/Article.tsx
  src/components/H/H.test.tsx
  src/components/Section/Section.mdx
  src/components/Section/Section.test.tsx
Due: prettier --write, eslint

refactor: move H into Heading
  src/components/Article/Article.mdx
  src/components/Article/Article.test.tsx
  src/components/Article/Article.tsx
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/H/H.mdx
  src/components/H/H.tsx
  src/components/H/index.ts
  src/components/Heading/Heading.test.tsx
  src/components/Heading/Heading.tsx
  src/components/Heading/index.tsx
  src/components/Modal/Modal.tsx
  src/components/Section/Section.mdx
  src/components/Section/Section.test.tsx
  src/components/Section/Section.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
  src/index.tsx
Due: prettier --write, eslint

fix: switch focus state and screenreader output
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.tsx
Due: prettier --write, eslint

fix: remove jest-dom warning
  jest/setup.ts
Due: prettier --write, eslint

test: rework markup to make testing easier
  src/components/Switch/Switch.test.tsx
  src/components/Switch/Switch.tsx
Due: prettier --write, eslint

style: move focus styles
  src/components/Switch/Switch.tsx
Due: prettier --write, eslint

fix: date range validation
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  06/be9ae1e2f0eb623c5326ba97eabfd09170f5bc
Due: none

Notes added by 'git notes add'
  f9/f1019faf5b0cdea18d9a1046495b65a8cd3cf1
Due: none

fix: make click target on Switch larger
  src/components/Switch/Switch.tsx
Due: prettier --write, eslint

feat: add badge size
  src/components/Badge/Badge.mdx
  src/components/Badge/Badge.tsx
Due: prettier --write, eslint

fix: add margin auto to clean up click target
  src/components/Switch/Switch.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  21/478783a24e38d0be77731ed722396ec9e34e94
Due: none

chore: update badge mdx
  src/components/Badge/Badge.mdx
Due: prettier --write

test: add snapshot tests
  src/components/Badge/Badge.test.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  2f/fe60a6d316398848aefcfa21309581b88b1d9f
Due: none

feat: upgrade typescript from 3.9.7 to 4.5.5
  package-lock.json
  package.json
Due: prettier --write

feat: upgrade @typescript-eslint/parser from 4.27.0 to 5.10.1
  package-lock.json
  package.json
Due: prettier --write

feat: upgrade @typescript-eslint/eslint-plugin from 4.27.0 to 5.10.1
  package-lock.json
  package.json
Due: prettier --write

feat: upgrade webpack from 4.44.1 to 5.67.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade react-styleguidist from 11.1.7 to 11.2.0
  package-lock.json
  package.json
Due: prettier --write

feat: add radio size
  src/components/Radio/Radio.mdx
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

Update src/components/Radio/Radio.tsx
  src/components/Radio/Radio.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a5/66ef793ce0957e4d4224acdc86ea4c18cdfee2
Due: none

feat: add show-password icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  b2/ffe696d2fc9210f66451c995c2c8dbca25224a
Due: none

feat: expand multicombobox props
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: update example names
  src/components/MultiCombobox/MultiCombobox.mdx
Due: prettier --write

fix: remove added prop
  src/components/MultiCombobox/MultiCombobox.mdx
Due: prettier --write

fix: remove badly named vars
  src/components/MultiCombobox/MultiCombobox.mdx
Due: prettier --write

fix: add render prop
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: remove unused prop
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: remove unused bool
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: add hide label prop
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: add tests
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: prettier --write, eslint

fix: pr comment updates
  README.md
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint
