Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

chore: bump react-styleguidist to 11.1.7
  package-lock.json
  package.json
Due: prettier --write

chore: ran npm audit fix
  package-lock.json
Due: prettier --write

chore: bump @babel/cli
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bc/4a818f2ef0367d52c8fb81683d5b6409d2e2bc
Due: none

feat: upgrade @typescript-eslint/parser from 3.8.0 to 4.25.0
  package-lock.json
  package.json
Due: prettier --write

fix: make datepicker update when value updates externally
  src/components/DateRangeInput/DateRangeInput.tsx
  src/utils/useMounted.tsx
Due: prettier --write, eslint

fix: update DateInput when external `value` updates
  src/components/DateInput/DateInput.tsx
Due: prettier --write, eslint

refactor: remove `isMounted` check for better maintainance
  src/components/DateRangeInput/DateRangeInput.tsx
  src/utils/useMounted.tsx
Due: prettier --write, eslint

test: add tests for external `value` updates
  jest/utils/render.tsx
  src/components/DateInput/DateInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.test.tsx
Due: prettier --write, eslint

build: bump @typescript-eslint to latest
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  5a/cddb87b5de9ce733eb1910d9967b0a41325f01
Due: none

fix: pasting JSON into the multicombo box over-tokenized
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

feat: upgrade @types/react from 16.14.5 to 17.0.8
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  84/8d1bbaa09f486a6b7093c0c7e77f592c50cfe8
Due: none

fix: upgrade @types/lodash from 4.14.169 to 4.14.170
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  95/8c41553a183c8eb0170cbb6f8dfbe527a3f795
Due: none

Notes added by 'git notes add'
  77/e5eb3d52aca03f29b9dcfe7d01cbe1c4501fbd
Due: none

oops, missed a bug upon inspection. wrote a test for it
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: upgrade @types/react-dom from 17.0.5 to 17.0.6
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  a2/bc63954480be72db7d8a97cf7a4e3e6b7ef090
Due: none

fix: upgrade @types/react from 17.0.8 to 17.0.9
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  c8/28b0df81e07c5779a8379cea175c404795ffc1
Due: none

fix: upgrade dayjs from 1.10.4 to 1.10.5
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  b6/0192382c269c88ef50ff53a2e01398ffe91398
Due: none

build: add module aliases from tsconfig
  jest/config.js
  styleguide.config.js
Due: prettier --write, eslint

fix: upgrade @types/react from 17.0.9 to 17.0.11
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  50/56664a9f2886096a054971716fbcdb4da74d6f
Due: none

fix: upgrade @types/react-dom from 17.0.6 to 17.0.7
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  8a/a28e22c55f03f2afc8071422cb5641de472318
Due: none

feat: update Badge & Tag components
  src/components/Badge/Badge.mdx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Badge/useBadgeStyles.tsx
  src/components/MultiCombobox/Tag.tsx
Due: prettier --write, eslint

chore: add lightred button color
  src/components/Button/Button.tsx
  src/components/Button/useButtonStyles.tsx
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: prettier --write, eslint

chore: add background opacity to Badge component
  src/components/Badge/Badge.mdx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: prettier --write, eslint

chore: add button styles and icons
  src/components/Button/Button.tsx
  src/components/Button/useButtonStyles.tsx
  src/theme/icons.tsx
Due: prettier --write, eslint

feat: update Alert ui component
  src/components/Alert/Alert.mdx
  src/components/Snackbar/Snackbar.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

chore: rename alertType prop
  src/components/Alert/Alert.mdx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

chore: pr feedback
  src/components/Alert/Alert.mdx
  src/components/Badge/Badge.mdx
  src/components/Badge/Badge.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

feat: add suffix for text input
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/TextInput/TextInput.mdx
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  7e/9b234f931aa9b5e4421aae43376eb98dc4e250
Due: none

chore: add ttextTransform css prop
  src/components/Badge/Badge.tsx
Due: prettier --write, eslint
