Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

chore: revert removed react memo
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

fix: upgrade @emotion/react from 11.0.0-next.14 to 11.1.5
  package-lock.json
  package.json
Due: prettier --write

chore: apply pr suggestions
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/ComboBoxItems/ComboBoxItems.tsx
Due: prettier --write, eslint

chore: modify combobox items to match designs
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/ComboBoxItems/ComboBoxItems.tsx
  src/components/utils/MenuItem/MenuItem.tsx
Due: prettier --write, eslint

test: update MultiComboBox snaps and tests
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  80/7525d171ebd58b084c8565945071e8d76dc7c2
Due: none

Notes added by 'git notes add'
  61/50ca1816a6e7926a9fbf90cd34dc538dcdec17
Due: none

Notes added by 'git notes add'
  06/ea320f2e91d3b753b27ae46a6e26ba6163d148
Due: none

Notes added by 'git notes add'
  0f/3b34627863832d360863f1b59745b48838e8fa
Due: none

fix: upgrade @emotion/styled from 11.0.0-next.14 to 11.1.5
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/tabs from 0.11.2 to 0.13.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/menu-button from 0.11.2 to 0.13.0
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/auto-id from 0.11.2 to 0.13.0
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  41/f33c61a18a604f989b3afcb8a581fc39438d54
Due: none

fix: upgrade @reach/popover from 0.11.2 to 0.13.2
  package-lock.json
  package.json
Due: prettier --write

fix: remove stale css rule
  src/components/utils/Input/InputElement.tsx
Due: prettier --write, eslint

feat: add prefix for input components
  src/components/TextInput/TextInput.mdx
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint

chore: fix and update tests
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/utils/Input/InputControl.tsx
  src/components/utils/Input/__snapshots__/InputControl.test.tsx.snap
Due: prettier --write, eslint

chore: minor cleanup and test fixes
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/TextInput.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/utils/Input/InputControl.tsx
  src/components/utils/Input/__snapshots__/InputControl.test.tsx.snap
Due: prettier --write, eslint

feat: _empty css selector prop
  src/system/pseudo.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  0d/bd2aea0dd79593a1e5d39e3b7f388dbadb151c
Due: none

Notes added by 'git notes add'
  fe/9ec6a3c238a1ab46bf501cb6e60ddece7bd565
Due: none

chore: add return type annotation
  src/components/FadeIn/utils.ts
Due: prettier --write, eslint

chore: update multiple snapshots
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateInput/__snapshots__/Day.test.tsx.snap
  src/components/DateInput/__snapshots__/Month.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/utils/Input/__snapshots__/InputControl.test.tsx.snap
Due: none

Notes added by 'git notes add'
  8a/b7edf63a57574d5bb879d842c442a91088ad51
Due: none

chore: emotion/serialize package
  package-lock.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  69/2be1c42f2c44052d36f42566e2ea4a307cad70
Due: none

chore: removed un-used assignment
  src/components/Tabs/Tabs.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  88/1670819d88db8b9bf184d60fe04eedaa2d98ef
Due: none

chore: set as for reach/popover to div
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

chore: added ts-ignore for prop in type
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

fix: revert as to ReachMenuPopover
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

fix: added animated to as
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

fix: fix duplicate combobox input
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: updated popover as div
  package-lock.json
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  82/c3d50206ccf44f7f32dd440d5b9f61e54f50ae
Due: none

Notes added by 'git notes add'
  dd/c365bee3508160719e97f48b65f31bf94d2cb1
Due: none

Notes added by 'git notes add'
  22/7ba91393ac9b0f77901407984527a6bee69f06
Due: none

fix: upgrade @reach/dialog from 0.11.2 to 0.13.2
  package-lock.json
  package.json
Due: prettier --write

fix: upgrade @reach/tooltip from 0.11.2 to 0.13.2
  package-lock.json
  package.json
Due: prettier --write

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
