Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

feat: add `borderOpacity` prop
  src/components/Box/Box.test.tsx
  src/components/Box/__snapshots__/Box.test.tsx.snap
  src/system/styled.ts
  src/system/utility.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  71/7af4208377fd73f0634e502c9b969dc50d379b
Due: none

refactor: addressing PR formatting changes
  src/components/Snackbar/SnackbarContext.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

fix: handling snackbars in multiple locations
  package-lock.json
  src/components/Snackbar/Snackbar.mdx
  src/components/Snackbar/SnackbarContext.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

fix: removing logs
  src/components/Snackbar/SnackbarContext.tsx
Due: prettier --write, eslint

fix: default position in filter
  src/components/Snackbar/SnackbarContext.tsx
Due: prettier --write, eslint

refactor: updating color names
  src/components/utils/ControlledAlert/useAlertStyles.tsx
  src/theme/colors.ts
Due: prettier --write, eslint

fix: adding icon color option for black close button
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/useIconButtonStyles.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
Due: prettier --write, eslint

feat: added icon color to all variants
  src/components/IconButton/IconButton.mdx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/useIconButtonStyles.tsx
Due: prettier --write, eslint

refactor: resolving PR comments
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/useIconButtonStyles.tsx
  src/components/Snackbar/SnackbarContext.tsx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

refactor: adding type to positionStyles
  src/components/Snackbar/SnackbarContext.tsx
Due: prettier --write, eslint

test: adding unit tests and updating snapshot
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
  src/components/Snackbar/SnackbarContext.test.tsx
  src/components/Snackbar/SnackbarContext.tsx
Due: prettier --write, eslint

feat: add `closeOnOutsideClicks` on popover
  src/components/Popover/Popover.test.tsx
  src/components/Popover/PopoverContent.tsx
Due: prettier --write, eslint

docs: add example in docs
  src/components/Popover/Popover.mdx
Due: prettier --write

Notes added by 'git notes add'
  46/3661710d08f1969db3718f32a6d563e06886fc
Due: none

chore: flip the prop's logic
  src/components/Popover/Popover.mdx
  src/components/Popover/Popover.test.tsx
  src/components/Popover/PopoverContent.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a1/3c36a8f5a841d520d5166a269f7cd16589078f
Due: none

chore: bump react 17
  package-lock.json
  package.json
Due: prettier --write

feat: enhance Badge to allow solid background
  src/components/Badge/Badge.mdx
  src/components/Badge/Badge.test.tsx
  src/components/Badge/Badge.tsx
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  96/168530bf2f2280a078d40248fcd68d48beee65
Due: none

refactor: adding disableAnimation prop to Alert
  src/components/Alert/Alert.tsx
Due: prettier --write, eslint

refactor: update Alert to include disableAnimation prop, tests, updated mdx file
  src/components/Alert/Alert.mdx
  src/components/Alert/Alert.test.tsx
  src/components/Alert/Alert.tsx
Due: prettier --write, eslint

fix: update Modal to allow passing of onDismiss prop
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  45/b9b0c37092466bd7a3b8d55f0e40e09dfb7055
Due: none

feat: add `badge` icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  55/7f76f09b4b089a403369162a48615f1f394ee6
Due: none

feat: update breakpoints
  src/theme/theme.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  02/e59649a28f8c829386fe34940e94943aacf956
Due: none

fix: set z-index on modal overlay
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

fix: add overlayZIndex to modal; set default modal overlay z-index to 1000
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

Update src/components/Modal/Modal.tsx
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

feat: add exclamation & pending icons
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  76/a4366de27bdf9c05dbe6777ee492a63fd61166
Due: none

fix: add unit tests for Modal component
  src/components/Modal/Modal.test.tsx
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

refactor: assign overlayZIndex default value at prop definition
  src/components/Modal/Modal.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  4b/8d04e0db4a43e8e4bd20426e78f176bac63b12
Due: none

feat: add new icons
  src/theme/icons.tsx
Due: prettier --write, eslint

chore: savepoint
  package-lock.json
  src/theme/icons.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
