Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

docs: update DM Sans URL
  README.md
Due: prettier --write

fix: stop loading the entire lodash library for a single method
  src/components/DateInput/Month.tsx
Due: prettier --write, eslint

refactor: change `useOutsideClick` to consume react refs
  src/components/Popover/PopoverContent.tsx
  src/utils/useOutsideClick.tsx
Due: prettier --write, eslint

refactor: re-write utils internal implementation
  src/components/Popover/PopoverContent.tsx
  src/utils/useEscapeKey.tsx
  src/utils/useOutsideClick.tsx
Due: prettier --write, eslint

fix: allow users to close date range picker when an outside click occurs
  src/components/DateInput/DateWrapper.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

test: verify click outside
  src/components/DateRangeInput/DateRangeInput.test.tsx
Due: prettier --write, eslint

feat: toggle DateRangePicker when the calendar icon is clicked
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/DoubleTextInput.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
Due: prettier --write, eslint

feat: allow DateInput to close on outside click & ESC keypress
  src/components/DateInput/DateInput.tsx
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/DateRangeInput.tsx
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
Due: prettier --write, eslint

fix: make sure to reset selection on calendar icon click
  src/components/DateInput/DateInput.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

test: add basic tests for DateInput
  src/components/DateInput/DateInput.test.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  9f/daf1e440828b0d3b6644f52987f55fdd707a81
Due: none

Notes added by 'git notes add'
  0a/c87ea61c9c5b1678edbe0792b8d1668567b075
Due: none

fix: close calendar on selection application
  src/components/DateInput/DateInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.test.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  5e/46c019b7c926f240e471f3b0c6f29843716b0f
Due: none

chore: add `isEmpty` helper
  src/utils/helpers.test.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint

fix: raising labels for text and number inputs
  src/components/NumberInput/NumberInput.tsx
  src/components/TextInput/TextInput.mdx
  src/components/TextInput/TextInput.tsx
Due: prettier --write, eslint

chore: update snapshot tests
  src/components/TextInput/TextInput.test.tsx
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
Due: prettier --write, eslint

chore: add more helper specs
  src/utils/helpers.test.tsx
Due: prettier --write, eslint

chore: update isEmptyValue checking.
  src/components/NumberInput/NumberInput.tsx
  src/components/TextInput/TextInput.tsx
  src/utils/helpers.test.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint

Notes added by 'git notes add'
  f8/4fd06523a02cb4b1f3e998ec0d713b4435d34c
Due: none

feat: added AbstractButton that provides the ability to clear all items
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

feat: added prop canClearAllAfter for clear all functionality
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

chore: updated snapshot
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

chore: update test
  src/components/MultiCombobox/MultiCombobox.test.tsx
Due: prettier --write, eslint

chore: updated snapshots
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

chore: updated tests
  src/components/MultiCombobox/MultiCombobox.test.tsx
Due: prettier --write, eslint

chore: addressed feedback for prop
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/MultiCombobox/MultiCombobox.test.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
Due: prettier --write, eslint

fix: add hours range from 00 to 23 in 24h format
  src/components/DateInput/DateInput.mdx
  src/components/DateInput/DateInput.test.tsx
  src/components/DateInput/TimePicker.tsx
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateRangeInput/DateRangeInput.test.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  06/7bf776596f5fee8c2c47fc854e704e0b4942c7
Due: none

Notes added by 'git notes add'
  ad/210c65362cabb677b992a35de4d812c0f311fc
Due: none

fix: add 2 more icons and a full view of all icons available
  src/components/Icon/Icon.mdx
  src/theme/icons.tsx
Due: prettier --write, eslint

fix: remove stale fragment
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  9f/f7b9895b154356a04118d7935e4ed629868a17
Due: none

fix: add edit icons
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  7e/0d9266dc150656b969fb7d5aea26bb853cd258
Due: none

feat: add brackets icon
  src/theme/icons.tsx
Due: prettier --write, eslint

feat: add `darkblue` as variant color and update the testing framework
  src/components/Button/Button.tsx
  src/components/Button/useButtonStyles.tsx
  src/components/Icon/Icon.test.tsx
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/IconButton/IconButton.test.tsx
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  c7/af4a0f3cdabcb72389da9ae7dbac5c7950348c
Due: none

fix: issue with Flex when specifying both `sx` and `spacing` props
  src/components/Flex/Flex.tsx
  src/components/Flex/utils.tsx
Due: prettier --write, eslint

fix: issue with overflowing datepickers
  src/components/DateInput/DateWrapper.tsx
  src/components/DateInput/TimePicker.tsx
  src/components/DateRangeInput/DateRangeInput.tsx
Due: prettier --write, eslint

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
