Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc -p .

build(packages): bump react & development packages
  package-lock.json
  package.json
Due: prettier --write

docs(table): update examples
  src/components/Table.md
  src/components/Table.tsx
Due: prettier --write, eslint, tsc -p .

build(eslint): allow ts-ignore
  .eslintrc
Due: none

feat(icon): add new icons & curate existing (#42)
  src/components/Icon.tsx
  src/icons/ic-alert.svg
  src/icons/ic-billing.svg
  src/icons/ic-company.svg
  src/icons/ic-dashboard--alt.svg
  src/icons/ic-dashboard.svg
  src/icons/ic-destination.svg
  src/icons/ic-docs.svg
  src/icons/ic-infra-analytics.svg
  src/icons/ic-infra-source.svg
  src/icons/ic-list.svg
  src/icons/ic-log-analytics.svg
  src/icons/ic-log-source.svg
  src/icons/ic-menu-input.svg
  src/icons/ic-menu-output.svg
  src/icons/ic-menu-policy.svg
  src/icons/ic-organization.svg
  src/icons/ic-policy.svg
  src/icons/ic-resource.svg
  src/icons/ic-rule.svg
  src/icons/ic-settings--alt.svg
  src/icons/ic-settings.svg
  src/utils/usePaginatedTable.tsx
Due: prettier --write, eslint, tsc -p .

fix(basebutton): add `text-decoration: none` to all
  src/components/BaseButton.tsx
Due: prettier --write, eslint, tsc -p .

fix(basebutton): add `text-decoration: none` to all (#46)
  src/components/BaseButton.tsx
Due: prettier --write, eslint, tsc -p .

fix(theme): add extra colors (#44)
  src/themes/default.ts
Due: prettier --write, eslint, tsc -p .

feat(table): add `rowSeparationStrategy` prop (#45)
  .eslintrc
  package-lock.json
  package.json
  src/components/Table.md
  src/components/Table.tsx
Due: prettier --write, eslint, tsc -p .

[LICENSE] MIT to Apache
  LICENSE
  README.md
Due: prettier --write

fix(vuln): update dependencies
  package-lock.json
Due: prettier --write

License Change + Package Update (#47)
  LICENSE
  README.md
  package-lock.json
Due: prettier --write

feat: add cloud-security & log-analysis icons
  src/components/Icon.tsx
  src/icons/ic-cloud-security.svg
  src/icons/ic-log-analysis.svg
Due: prettier --write, eslint, tsc -p .

add alex to codeowners
  .github/CODEOWNERS
Due: none

fix: update svg icons
  src/icons/ic-cloud-security.svg
  src/icons/ic-log-analysis.svg
Due: none

fix: remove svg namespace
  src/icons/ic-cloud-security.svg
  src/icons/ic-log-analysis.svg
Due: none

add alex to codeowners (#49)
  .github/CODEOWNERS
Due: none

feat(Icon): add cloud-security & log-analysis icons (#48)
  src/components/Icon.tsx
  src/icons/ic-cloud-security.svg
  src/icons/ic-log-analysis.svg
Due: prettier --write, eslint, tsc -p .

build: bump node version in circleci
  .circleci/config.yml
Due: none

build: remove bugfix version from docker image
  .circleci/config.yml
Due: none

build: bump node version in circleci (#50)
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  fed830a028f832a91d8b605150d40196472d4d5b
Due: none

build: add npm releases
  .releaserc
Due: none

build: add npm releases (#51)
  .releaserc
Due: none

fix: mark pkg as public
  package.json
Due: prettier --write

fix: mark pkg as public (#52)
  package.json
Due: prettier --write

Notes added by 'git notes add'
  66e20335ea719f11991436859247251a591ec425
Due: none

feat: bump all packages
  .eslintrc
  .lintstagedrc
  package-lock.json
  package.json
  rollup.config.js
  src/components/BaseButton.tsx
  src/components/BaseInputElement.tsx
  src/components/Box.tsx
  src/components/Button.tsx
  src/components/Flex.tsx
  src/components/Grid.tsx
  src/components/IconButton.tsx
  src/components/Modal.tsx
  src/components/SideSheet.tsx
  src/components/Spinner.tsx
  src/components/Table.tsx
  src/index.tsx
  src/styled.d.ts
  src/themes/default.ts
  src/utils/GlobalStyles.tsx
  src/utils/ThemeProvider.tsx
  src/utils/useTheme.tsx
  styleguide.config.js
  tsconfig.json
Due: prettier --write, eslint, tsc -p .

ci: remove non-null assertion
  .eslintrc
  src/components/DateInput.tsx
Due: prettier --write, eslint, tsc -p .

ci: remove un-used rules
  .eslintrc
Due: none

build: move @types from dev deps to actual deps
  package.json
Due: prettier --write

fix: add pounce theme to useTheme
  src/utils/useTheme.tsx
Due: prettier --write, eslint, tsc -p .

fix: useTheme export type
  src/index.tsx
Due: prettier --write, eslint, tsc -p .

fix: wrong path import
  src/index.tsx
Due: prettier --write, eslint, tsc -p .

revert: typing changes in Theme
  src/themes/default.ts
Due: prettier --write, eslint, tsc -p .

build: ignoring dist & node_modules with eslint
  .eslintrc
Due: none

refactor: rename npm script to validate
  .circleci/config.yml
  package.json
Due: prettier --write

refactor: add relative paths to tsconfig paths
  tsconfig.json
Due: prettier --write

ci: add npm audit checek
  .circleci/config.yml
Due: none

chore: change commitlint from angular to conventional
  .commitlintrc.json
  package.json
Due: prettier --write

Notes added by 'git notes add'
  bc35799b4d0e5df6585e45c6be53fee273de3cd2
Due: none

Path conditions:
  prettier --write: any of: *.{ts,tsx,json,md}
  eslint: any of: *.{ts,tsx}
  tsc -p .: any of: *.{ts,tsx}
