Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc -p .

.lintstagedrc:

{
  "*.{ts,tsx,json,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx}": [
    "eslint",
    "tsc -p ."
  ]
}

rename dist file
  package.json
Due: prettier --write

Feat exports (#17)
  .gitignore
  README.md
  package-lock.json
  package.json
  rollup.config.js
  src/components/Box.tsx
  src/components/Checkbox.tsx
  src/components/Chip.tsx
  src/components/Table.md
  src/components/Table.tsx
  src/index.tsx
  src/utils/StyleguidistWrapper.tsx
  src/utils/ThemeInjector.tsx
  src/utils/ThemeProvider.tsx
  src/utils/useEnumerableTableRows.tsx
  src/utils/useSelectableTableRows.tsx
  styleguide.config.js
  tsconfig.json
Due: prettier --write, eslint, tsc -p .

add cjs export
  package.json
  rollup.config.js
Due: prettier --write

add missing prop-type named exports on cjs parsing
  rollup.config.js
Due: none

disabled TS cache
  rollup.config.js
Due: none

add types in package.json
  package.json
Due: prettier --write

size & variant are now required props. Add fallbacks for optional props
  src/components/Alert.tsx
  src/components/BaseBadge.tsx
  src/components/BaseInputElement.tsx
  src/components/Box.md
  src/components/Button.md
  src/components/Button.tsx
  src/components/Card.md
  src/components/Checkbox.tsx
  src/components/Chip.tsx
  src/components/Combobox.tsx
  src/components/Dropdown.md
  src/components/Flex.md
  src/components/Grid.md
  src/components/Heading.tsx
  src/components/Icon.tsx
  src/components/IconButton.tsx
  src/components/Label.tsx
  src/components/MenuItem.md
  src/components/MenuItem.tsx
  src/components/Modal.md
  src/components/Modal.tsx
  src/components/Pill.md
  src/components/Radio.tsx
  src/components/SideSheet.md
  src/components/SideSheet.tsx
  src/components/Snackbar.md
  src/components/Spinner.tsx
  src/components/Switch.tsx
  src/components/Table.md
  src/components/Table.tsx
  src/components/Tabs.tsx
  src/components/Text.tsx
  src/components/Tooltip.md
  src/components/Tooltip.tsx
  src/utils/useEnumerableTableRows.tsx
Due: prettier --write, eslint, tsc -p .

add missing exports
  src/index.tsx
Due: prettier --write, eslint, tsc -p .

remove un-needed presets from rollup that in styleguidist needed
  .babelrc
  babel.config.js
  styleguide.config.js
  tsconfig.json
Due: prettier --write

add react key as mandatory in eslint
  .eslintrc
Due: none

add rimraf on dist folder before each build
  package.json
Due: prettier --write

only keep `dist` folder in node_modules
  package.json
Due: prettier --write

move rimraf to build script
  package.json
Due: prettier --write

cleaned prop-type warnings
  src/components/Breadcrumbs.md
  src/components/Dropdown.md
  src/components/Icon.tsx
  src/components/Tabs.md
  src/components/TextInput.md
Due: prettier --write, eslint, tsc -p .

optimise SVG bundling
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write

transform absolute to relative paths in TS declaration typings
  package-lock.json
  package.json
  rollup.config.js
  tsconfig.json
Due: prettier --write

add /icons to tsconfig paths
  tsconfig.json
Due: prettier --write

replace uuid package with simple Math.random. Was an overkill.
  package-lock.json
  package.json
  src/components/SnackbarContext.tsx
Due: prettier --write, eslint, tsc -p .

remove un-needed rollup path resolver plugin
  package-lock.json
  package.json
  rollup.config.js
Due: prettier --write

values can now only be arrays. Better support for TS
  src/components/Combobox.md
  src/components/Combobox.tsx
Due: prettier --write, eslint, tsc -p .

fix accessibility issue on input focus
  src/components/Combobox.tsx
Due: prettier --write, eslint, tsc -p .

fix a bug with ESC handler
  src/components/Combobox.tsx
Due: prettier --write, eslint, tsc -p .

reset input on un-commited entries on multi-select
  src/components/Combobox.tsx
Due: prettier --write, eslint, tsc -p .

add correct initial value to Combobox
  src/components/Combobox.tsx
Due: prettier --write, eslint, tsc -p .

split Combobox into MultiCombobox & Combobox
  src/components/Combobox.md
  src/components/MultiCombobox.md
  src/components/MultiCombobox.tsx
Due: prettier --write, eslint, tsc -p .

optimise TS support for styled components
  src/components/Alert.tsx
  src/components/BaseButton.tsx
  src/components/BaseInputElement.tsx
  src/components/Box.tsx
  src/components/Checkbox.tsx
  src/components/Chip.tsx
  src/components/Combobox.tsx
  src/components/IconButton.tsx
  src/components/Modal.md
  src/components/Modal.tsx
  src/components/Pill.md
  src/components/Radio.tsx
  src/components/SideSheet.md
  src/components/SideSheet.tsx
  src/components/Tabs.tsx
Due: prettier --write, eslint, tsc -p .

add hook for client-side table pagination
  src/components/Table.md
  src/components/Table.tsx
  src/index.tsx
  src/utils/GlobalStyles.tsx
  src/utils/StyleguidistWrapper.tsx
  src/utils/useClientPaginatedTable.tsx
Due: prettier --write, eslint, tsc -p .

add missing export
  src/index.tsx
Due: prettier --write, eslint, tsc -p .

move @types from dev dependency to actual dependency
  package-lock.json
  package.json
Due: prettier --write

move @types from dev dependency to actual dependency
  package.json
Due: prettier --write

remove @types from dev dep
  package-lock.json
  package.json
  src/components/Spinner.tsx
Due: prettier --write, eslint, tsc -p .

update package.lock
  package-lock.json
Due: prettier --write

add exact version of @types for styled-components
  package.json
Due: prettier --write

replace Flex with React.Fragment on ThemeProvider
  src/utils/ThemeProvider.tsx
Due: prettier --write, eslint, tsc -p .

minor hack for better API exposure
  package.json
  src/components/BaseInputElement.tsx
  src/utils/helpers.ts
Due: prettier --write, eslint, tsc -p .

make `delay` in Spinner optional
  src/components/Spinner.tsx
Due: prettier --write, eslint, tsc -p .

allow additional HTML attributes
  src/components/Box.tsx
Due: prettier --write, eslint, tsc -p .

renamed combobox props
  src/components/Combobox.tsx
  src/components/MultiCombobox.tsx
  src/components/Spinner.tsx
Due: prettier --write, eslint, tsc -p .
