Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint, tsc -p .

.lintstagedrc:

{
  "*.{ts,tsx,json,md}": [
    "prettier --write",
    "git add"
  ],
  "*.{ts,tsx}": [
    "eslint",
    "tsc -p ."
  ]
}

fix typo in path
  .circleci/config.yml
Due: none

add `node` command
  .circleci/config.yml
Due: none

add CircleCI badge
  README.md
Due: prettier --write

fix typo
  .circleci/config.yml
Due: none

update git role
  .circleci/config.yml
Due: none

update git role email
  .circleci/config.yml
Due: none

add surge instead of gh pages
  .circleci/config.yml
Due: none

install surge
  .circleci/config.yml
Due: none

only building docs for master
  .circleci/config.yml
Due: none

update README
  README.md
Due: prettier --write

Feature/combobox bugfixes (#23)
  package-lock.json
  src/components/MultiCombobox.tsx
  src/components/Spinner.tsx
Due: prettier --write, eslint, tsc -p .

Feature/circle ci (#22)
  .circleci/config.yml
  README.md
  buildspec.yml
Due: prettier --write

add variant prop to `MenuItem`
  src/components/Combobox.tsx
  src/components/Dropdown.md
  src/components/MenuItem.md
  src/components/MenuItem.tsx
  src/components/MultiCombobox.tsx
  src/utils/usePaginatedTable.tsx
Due: prettier --write, eslint, tsc -p .

remove un-used packages
  package-lock.json
  package.json
  src/index.tsx
Due: prettier --write, eslint, tsc -p .

Create CODE_OF_CONDUCT.md
  CODE_OF_CONDUCT.md
Due: prettier --write

[repo] AUTHORS, LICENSE, CONTRIBUTING files
  .github/CODEOWNERS
  .github/pull_request_template.md
  AUTHORS
  CONTRIBUTING.md
  LICENSE
  README.md
Due: prettier --write

[README] some more changes
  README.md
Due: prettier --write

[repo] AUTHORS, LICENSE, CONTRIBUTING files (#28)
  .github/CODEOWNERS
  .github/pull_request_template.md
  AUTHORS
  CONTRIBUTING.md
  LICENSE
  README.md
Due: prettier --write

Create CODE_OF_CONDUCT.md (#27)
  CODE_OF_CONDUCT.md
Due: prettier --write

Feature/menu item variant (#26)
  package-lock.json
  package.json
  src/components/Combobox.tsx
  src/components/Dropdown.md
  src/components/MenuItem.md
  src/components/MenuItem.tsx
  src/components/MultiCombobox.tsx
  src/index.tsx
  src/utils/usePaginatedTable.tsx
Due: prettier --write, eslint, tsc -p .

make Tooltip's `hoverDelay` optional
  src/components/Tooltip.md
  src/components/Tooltip.tsx
Due: prettier --write, eslint, tsc -p .

allow any value in TableItem
  src/components/Table.tsx
Due: prettier --write, eslint, tsc -p .

Badge props now extend BaseTextProps
  src/components/BaseBadge.tsx
Due: prettier --write, eslint, tsc -p .

enhance docs on Table
  src/components/Table.md
Due: prettier --write

fix typo in docs
  src/components/Table.md
Due: prettier --write

rename generic
  src/components/Combobox.tsx
  src/components/MultiCombobox.tsx
Due: prettier --write, eslint, tsc -p .

add generics to Table component
  src/components/Table.tsx
  src/utils/useEnumerableTableRows.tsx
  src/utils/useSelectableTableRows.tsx
Due: prettier --write, eslint, tsc -p .
