Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

test: updated snapshots
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

feat: added default value for minWidth
  src/components/Dropdown/DropdownMenu.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  74/e5f22b27cc43432f0402e519f2eb7a9c6575c0
Due: none

fix: change title prop type
  src/components/utils/ControlledAlert/ControlledAlert.tsx
Due: prettier --write, eslint

fix: make key unique
  src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

fix: remove array index as key
  src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

fix: mark `jest-axe` as a dev dependency
  package-lock.json
  package.json
Due: prettier --write

ci: bump node to latest 14.x.x
  .circleci/config.yml
Due: none

Notes added by 'git notes add'
  73/0bf84f75ec3688f87e6d8703a7851481e80eeb
Due: none

feat: add large spacing values to theme spacing
  src/theme/theme.ts
Due: prettier --write, eslint

fix: add `sx` prop to `Button` typings
  src/components/Button/Button.tsx
Due: prettier --write, eslint

feat: revamp transparent alerts
  src/components/Alert/Alert.mdx
  src/components/utils/ControlledAlert/ControlledAlert.tsx
  src/components/utils/ControlledAlert/useAlertStyles.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a5/1b9551307078720c7f8a3b049fe0d537a4682c
Due: none

feat: add disabled icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a2/779ddce047bba4a9fe8ccee3444fc5f4339bdc
Due: none

feat: change text from string to ReactNode
  src/components/Breadcrumbs/Breadcrumbs.mdx
  src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

feat: add title prop and flag text as deprecated
  src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

feat: add breadcrumb example
  src/components/Breadcrumbs/Breadcrumbs.mdx
Due: prettier --write

feat: add children as prop
  src/components/Breadcrumbs/Breadcrumbs.mdx
  src/components/Breadcrumbs/Breadcrumbs.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  ee/b13542880d94aa4753ad6c8dcf63c38f58ecee
Due: none

fix: number input callback dependencies
  src/components/NumberInput/NumberInput.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  6c/3667c4e0f7b33ea7852ae414b4a834d1f75627
Due: none

feat: add spacecraft icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  6a/ddfe80d2f1f591bdf44db9cd66b8da4be0cf0f
Due: none

feat: change alert title to be more consistent with figma designs
  src/components/utils/ControlledAlert/ControlledAlert.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  e6/a91d2d3b4057b1a454fbcca2e5bd8b7c428bb6
Due: none

feat: add key icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  de/8d455afb9ea5da90655a0566910e06c0796aa0
Due: none

feat: update colors replace gray-50 to white-200
  src/theme/colors.ts
Due: prettier --write, eslint

feat: replace gray-50 with white-200
  src/components/AbstractButton/AbstractButton.tsx
  src/components/DateRangeInput/Presets.tsx
  src/components/utils/Input/InputElement.tsx
  src/utils/GlobalStyles.tsx
Due: prettier --write, eslint

feat: change default button variantColor to blue-300
  src/components/Button/Button.tsx
Due: prettier --write, eslint

feat: update tests
  src/components/Badge/__snapshots__/Badge.test.tsx.snap
  src/components/Button/__snapshots__/Button.test.tsx.snap
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/DateInput/__snapshots__/DateInput.test.tsx.snap
  src/components/DateInput/__snapshots__/Day.test.tsx.snap
  src/components/DateInput/__snapshots__/Month.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DateRangeInput.test.tsx.snap
  src/components/DateRangeInput/__snapshots__/DoubleTextInput.test.tsx.snap
  src/components/Icon/__snapshots__/Icon.test.tsx.snap
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
  src/components/Popover/__snapshots__/Popover.test.tsx.snap
  src/components/Tabs/__snapshots__/Tabs.test.tsx.snap
  src/components/TextArea/__snapshots__/TextArea.test.tsx.snap
  src/components/TextInput/__snapshots__/TextInput.test.tsx.snap
  src/components/utils/Input/__snapshots__/InputControl.test.tsx.snap
Due: none

Notes added by 'git notes add'
  18/535cd77d31b43547d4e5543c008e6c1b313f85
Due: none

feat: change variantColor
  src/components/IconButton/IconButton.tsx
  src/components/IconButton/__snapshots__/IconButton.test.tsx.snap
Due: prettier --write, eslint

Notes added by 'git notes add'
  d4/ae24231a876d47e00abdc27ebdfeac68b2e028
Due: none

feat: add stop icon
  src/theme/icons.tsx
Due: prettier --write, eslint

chore: improve icon path
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  11/e3f142290bc47497b8e07ee9f85e2a6a587a5a
Due: none

feat: add file icon
  src/theme/icons.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  a0/1454e753387450704ddbab567288c053b014a0
Due: none

Path conditions:
  prettier --write: any of: *.{js,ts,tsx,json,md,mdx}
  eslint: any of: *.{js,ts,tsx}
