Repository panther-labs/pounce: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc:

{
  "*.{js,ts,tsx,json,md,mdx}": [
    "prettier --write"
  ],
  "*.{js,ts,tsx}": [
    "eslint"
  ]
}

test
  .gitignore
  README.md
Due: prettier --write

refactor: utilize and hooks
  src/components/Combobox/Combobox.mdx
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/Popover/PopoverContent.tsx
  src/components/Popover/usePopoverContentAlignment.tsx
  src/components/Tooltip/Tooltip.mdx
  src/components/Tooltip/Tooltip.test.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/Tooltip/utils.ts
  src/components/utils/Menu/Menu.tsx
  src/utils/useAlignment.tsx
Due: prettier --write, eslint

refactor: rename anchor to trigger
  src/components/Combobox/Combobox.tsx
  src/components/MultiCombobox/MultiCombobox.tsx
  src/components/utils/Menu/Menu.tsx
  src/utils/useAlignment.tsx
Due: prettier --write, eslint

test: update snaps
  src/components/Combobox/__snapshots__/Combobox.test.tsx.snap
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

Update Combobox.mdx
  src/components/Combobox/Combobox.mdx
Due: prettier --write

refactor: rename const
  src/components/Popover/PopoverContent.tsx
  src/components/Tooltip/Tooltip.tsx
Due: prettier --write, eslint

refactor: cleanup `useAlignment` api
  src/components/Combobox/Combobox.mdx
  src/components/MultiCombobox/MultiCombobox.mdx
  src/components/Popover/PopoverContent.tsx
  src/components/Tooltip/Tooltip.tsx
  src/components/utils/Menu/Menu.tsx
  src/utils/useAlignment.tsx
Due: prettier --write, eslint

test: update snapshots
  src/components/MultiCombobox/__snapshots__/MultiCombobox.test.tsx.snap
Due: none

fix: margin on collisions
  src/components/Tooltip/Tooltip.tsx
  src/components/utils/Menu/Menu.tsx
Due: prettier --write, eslint

Notes added by 'git notes add'
  1e/d907dd708e7059e6529efab9be1be0b9358f8b
Due: none

fix(combobox): toggle menu with button
  src/components/Combobox/Combobox.test.tsx
  src/components/Combobox/Combobox.tsx
Due: prettier --write, eslint

Update README.md
  README.md
Due: prettier --write
